//- components
include ~@comp/button/button.pug
//-
//- const {id, labelText, textInInput, addBtn, addClass: " form__group-dropdown_middle", arrow: "active" }, ...elements = options;
mixin dropdown(options)
  - const {id, elements, labelText, textInInput, addBtn, addClass = "", arrow } = options;
    div(class="form__group-input form__group-dropdown" +addClass id= id)
      label.label= labelText
        input.form__dropdown-input.visuallyhidden(name="dropdown" type="text" autocomplete="off" value="0" tabindex="-1")
      .form__dropdown(tabindex="0")
        .form__dropdown-result= textInInput
        if arrow == "active"
          span(class="form__dropdown-arrow material-icons active") keyboard_arrow_up
        else
          span(class="form__dropdown-arrow material-icons") keyboard_arrow_down
      .form__dropdown-block(tabindex="0")
        .form__dropdown-wrapper
          each value, element in elements
            .form__dropdown-elem
              span= element
              .form__dropdown-counter
                button(disabled type="button" data-dropdown-minus) -
                span= value
                button(type="button" data-dropdown-plus) +
        if addBtn
          .form__dropdown-control
            +button({mod:"simple", text:"Очистить", type:"button", btnFunction:"clear"}, " hidden")
            +button({mod:"simple", text:"Применить", type:"button", btnFunction:"apply"})
        .form__dropdown-limiter(tabindex="0")