@import '@scss/variables';
@import '@scss/mixins';

.dropdown {
  &__group {
    position: relative;
    display: flex;
    flex-direction: column;

    &_opened {
      .dropdown__field {
        border: 1px solid $dark50;
        border-radius: 4px 4px 0 0;
      }

      .dropdown__block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  &__label {
    @include level-h3;
  }

  &__input {
    &_hidden {
      @include hidden;
    }
  }

  &__field {
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid $dark25;
    border-radius: 4px;
    padding: 11px 9px 13px 14px;
    color: $dark75;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: border 0.2s ease-in;

    &:hover {
      border: 1px solid $dark50;
    }

    &:focus {
      outline: $focus-color auto 2px;
    }
  }

  &__result {
    max-width: 160px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__arrow {
    color: $dark50;
    padding-top: 2px;
    font-size: (24 / 14) + rem;
    @include font-material-icons;
  }

  &__block {
    position: absolute;
    top: 64px;
    left: 0;
    display: none;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid $dark50;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 10px 20px $dark5;
    padding: 4px 6px 7px 14px;

    &:focus {
      outline: $focus-color auto 2px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__elem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__elem-text {
    display: inline-block;
    font-weight: 700;
    font-size: (12 / 14) + rem;
    line-height: (15 / 12);
    text-transform: uppercase;
    color: $dark;
    flex: 0 1 auto;
    text-align: left;
    max-width: 55%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__counter {
    padding-top: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 93px;

    .dropdown__elem-text {
      flex: 0 1 20px;
      text-align: center;
    }
  }

  &__counter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    line-height: 1;
    border: 1px solid $dark25;
    border-radius: 22px;
    font-weight: 400;
    font-size: (18 / 14) + rem;
    text-align: center;
    background-color: #FFFFFF;
    color: $dark50;
    transition: border 0.2s ease-in;
    cursor: pointer;

    &:hover,
    &:focus {
      border: 1px solid $dark50;
      outline: $focus-color auto 2px;
    }

    &:disabled {
      color: $dark50;
      border: 1px solid $dark25;
      opacity: 0.38;
      cursor: default;
    }
  }

  &__control {
    margin: 22px 0px 6px;
    display: flex;
    justify-content: space-between;
  }

  &__control-item {
    &_hidden {
      opacity: 0;
      overflow: hidden;
      z-index: -1;
    }
  }
}

body.using-mouse {

  .dropdown__field:focus,
  .dropdown__block:focus,
  .dropdown__counter-btn {
    outline: none;
  }
}
