@import '@scss/variables';
@import '@scss/mixins';
@import '@comp/button/button';

.dropdown {
  &__group-fields {
    position: relative;
    display: flex;
    flex-direction: column;

    &_small {
      max-width: 266px;
    }

    &_active {
      .dropdown__field {
        border: 1px solid $dark50;
        border-radius: 4px 4px 0 0;
      }

      .dropdown__field-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

  }

  &__label {
    font-weight: 700;
    font-size: 12px;
    line-height: 15 / 12 * 100%;
    text-transform: uppercase;
    color: $dark;
  }

  &__field {
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid $dark25;
    border-radius: 4px;
    padding: 11px 9px 13px 14px;
    color: $dark75;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: border 0.2s ease-in;

    &:hover {
      border: 1px solid $dark50;
    }

    &-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }

    &-result {
      max-width: 160px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &-arrow {
      color: $dark50;
      padding-top: 2px;
    }

    &-block {
      position: absolute;
      top: 64px;
      left: 0;
      display: none;
      width: 100%;
      background: #FFFFFF;
      border: 1px solid $dark50;
      border-top: 0;
      border-radius: 0 0 4px 4px;
      box-shadow: 0px 10px 20px $dark5;
      padding: 4px 6px 7px 14px;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
    }

    &-elem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 6px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-item {
      display: inline-block;
      font-weight: 700;
      font-size: 11.9px;
      line-height: 15 / 11.9 * 100%;
      text-transform: uppercase;
      color: $dark;
      flex: 0 1 auto;
      text-align: left;
      max-width: 65%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &-counter {
      padding-top: 1px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 0 0 93px;

      &-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: 1px solid $dark25;
        border-radius: 22px;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        background-color: #FFFFFF;
        color: $dark50;
        transition: border 0.2s ease-in;

        &:focus {
          border: 1px solid $dark50;
        }

        &:disabled {
          color: $dark50;
          border: 1px solid $dark25;
          opacity: 0.38;
          cursor: default;
        }
      }

      .dropdown__field-item {
        flex: 0 1 20px;
        text-align: center;
      }
    }

    &-control {
      margin-top: 22px;
      padding-bottom: 6px;
      display: flex;
      justify-content: space-between;
    }
  }
}

.elem-hidden {
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

body.using-mouse {

  .dropdown__field:focus,
  .dropdown__field-block:focus {
    outline: none;
  }
}
