@import '@comp/button/button';

.form {
  &__group-dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;

    &_mini {
      max-width: 266px;
    }

    &_active {

      .form__dropdown {
        border: 1px solid $dark50;
        border-radius: 4px 4px 0 0;
      }

      .form__dropdown-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  &__dropdown {
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid $dark25;
    border-radius: 4px;
    padding: 11px 9px 13px 14px;
    color: $dark75;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: border 0.2s ease-in;

    &:hover {
      border: 1px solid $dark50;
    }

    &-result {
      max-width: 160px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &-arrow {
      color: $dark50;
    }
  }

  &__dropdown-block {
    position: absolute;
    top: 64px;
    left: 0;
    display: none;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid $dark50;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 10px 20px $dark5;
    padding: 4px 6px 7px 14px;
  }

  &__dropdown-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__dropdown-elem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;

    &:last-child {
      margin-bottom: 0;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border: 1px solid $dark25;
      border-radius: 22px;
      font-weight: 400;
      font-size: 18px;
      text-align: center;
      background-color: #FFFFFF;
      color: $dark50;
      transition: border 0.2s ease-in;

      &:focus {
        border: 1px solid $dark50;
      }

      &:disabled {
        color: $dark50;
        border: 1px solid $dark25;
        opacity: 0.38;
        cursor: default;
      }
    }

    span {
      display: inline-block;
      font-weight: 700;
      font-size: 11.9px;
      line-height: 15 / 11.9 * 100%;
      text-transform: uppercase;
      color: $dark;
      flex: 0 1 auto;
      text-align: left;
      max-width: 65%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &__dropdown-counter {
    padding-top: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 93px;

    span {
      flex: 0 1 20px;
      text-align: center;
    }
  }

  &__dropdown-control {
    margin-top: 22px;
    padding-bottom: 6px;
    display: flex;
    justify-content: space-between;
  }
}

body.using-mouse {

  .form__dropdown:focus,
  .form__dropdown-block:focus {
    outline: none;
  }
}
