@import '~swiper/swiper-bundle.css';
@import '@scss/variables';
@import '@scss/mixins';

.card-room {
  &__wrapper {
    min-width: 255px;
    max-width: 270px;
    min-height: 257px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px $dark5;
    border-radius: 4px;
  }

  &__images {
    position: relative;
    z-index: 1;
    height: 151.38px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;

    .swiper-slide {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left bottom;
    }
  }

  .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 12px;
    padding-right: 10px;
  }

  .swiper-pagination-bullet {
    border-radius: 5px;
    background: transparent;
    width: 8px;
    height: 8px;
    border: 1px solid #FFFFFF;
    opacity: 1;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    margin-right: 3.75px;
  }

  .swiper-pagination-bullet-active {
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
  }

  &__pagination {
    position: absolute;
    z-index: 3;
    text-align: right;
  }

  &__btn {
    @include font-material-icons;
    position: absolute;
    z-index: 2;
    width: 42px;
    height: 100%;
    font-size: (24 / 14) + rem;
    font-weight: 400;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);

    &:focus {
      outline: $focus-color auto 2px;
    }

    &_type_prev {
      left: 0;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    }

    &_type_next {
      right: 0;
      background: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    }

    &.swiper-button-disabled {
      display: none;
    }
  }

  &__block {
    padding: 15px 17px 17px 19px;
    display: block;
    text-decoration: none;

    &:focus {
      outline: $focus-color auto 2px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__info {
    font-weight: 700;
    font-size: (24 / 14) + rem;
    line-height: (29 / 24);
    color: $dark;
    margin-left: 1px;
  }

  &__symbol {
    font-size: 1rem;
    line-height: (17 / 14);
  }

  &__number {
    margin: 0 8px 0 1px;
    font-size: (19 / 14) + rem;
    line-height: (23 / 19);
  }

  &__tag {
    font-size: (12 / 14) + rem;
    line-height: (15 / 12);
    color: $purple;
    text-transform: uppercase;
  }

  &__price-block {
    font-size: (12 / 14) + rem;
    line-height: (18 / 12);
    color: rgba(31, 32, 65, 0.5);
  }

  &__price {
    font-size: 1rem;
    line-height: (18 / 14);
    font-weight: 700;
  }

  &__line {
    max-width: 230px;
    height: 1px;
    background-color: $dark10;
    margin: 0 auto;
    margin-top: 11px;
  }

  &__feedback {
    margin: 8px 2px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__comments {
    font-size: 1rem;
    line-height: (18 / 14);
    color: rgba(31, 32, 65, 0.5);
    text-transform: capitalize;
  }

  &__comments-meter {
    font-weight: 700;
  }
}

body.using-mouse {

  .card-room__btn:focus,
  .card-room__block:focus {
    outline: none;
  }
}
