extends ~@lo/page/page

//- components
include ~@comp/heading/heading
include ~@comp/info-icon/info-icon
include ~@comp/feedback/feedback
include ~@comp/bullet-list/bullet-list
include ~@comp/diagram/diagram
include ~@comp/card-booking/card-booking

block variables
  - const title = "Toxin - Описание номера"
  - const keywords = "номер, бронирование"

block content
  .room-details
    .room-details__photos-block
      .swiper-container.js-swiper-container
        .swiper-wrapper
          .swiper-slide
            img(class="swiper-slide-img" src=require("./img/preview-3.jpg"), alt="room photo")
          .swiper-slide
            img(class="swiper-slide-img" src=require("./img/preview-2.jpg"), alt="room photo")
          .swiper-slide
            img(class="swiper-slide-img" src=require("./img/preview-1.jpg"), alt="room photo")
        .swiper-pagination
    .container-content
      .room-details__content
        .room-details__about
          +heading({text: "Сведения о номере", level: "h2"})
          .room-details__info-icon
            +info-icon({
              title: "Комфорт",
              subtitle: "Шумопоглощающие стены",
              icon: "insert_emoticon",
            })
          .room-details__info-icon
            +info-icon({
              title: "Удобство",
              subtitle: "Окно в каждой из спален",
              icon: "location_city",
            })
          .room-details__info-icon
            +info-icon({
              title: "Уют",
              subtitle: "Номер оснащён камином",
              icon: "whatshot",
              hasBorder: false,
            })
        .room-details__rating
          +heading({text: "Впечатления от номера", level: "h2"})
          .room-details__rating-elem
            +diagram({
              selectorId: 'rating-rooms',
              rating_5: 130,
              rating_4: 65,
              rating_3: 65,
              rating_2: 0
            })
        .room-details__booking
          +card-booking({
            roomNumber: 888,
            roomType: "люкс",
            roomPrice: 9990,
            days: 4,
            discount: 2179,
            servicesText: "Сбор за услуги: скидка",
            servicesInfo: "Сбор за услуги",
            additionalServicesText: "Сбор за дополнительные услуги",
            additionalServices: 300,
            additionalServicesInfo: "Сбор за дополнительные услуги",
            datepickerOptions: {
              labelTextFirst:"прибытие",
              labelTextSecond:"выезд",
              attributeName:"card-booking-date-range",
              data: {
                startDate: "2019-08-19",
                finishDate: "2019-08-23",
              },
            },
            dropdownOptions: {
              labelText:"гости",
              attributeName:"card-booking-guests",
              textInInput:"Сколько гостей",
              hasControlBtn: true,
              elements: {
                "Взрослые": 3,
                "Дети": 0,
                "Младенцы": 0,
              },
              data: {
                variantsWordsObj: {
                  гость: ['гость', 'гостя', 'гостей'],
                  младенцы: ['младенец', 'младенца', 'младенцев'],
                },
              },
            },
            submitBtnOptions: {
              theme:"with-arrow",
              text:"забронировать",
              btnType:"submit",
            },
          })
        .room-details__feedback
          .room-details__feedback-title
            +heading({text: "Отзывы посетителей номера", level: "h2"})
            .room-details__feedback-counter 2 отзыва
          .room-details__feedback-elem
            +feedback({
              name: "Мурад Сарафанов",
              avatarImg:"feedback-avatar-1.jpg",
              time:"5 дней назад",
              likeBtnNum: 12,
              hasLikeBtnActive: true,
              text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.\
              И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
            })
          .room-details__feedback-elem
            +feedback({
              name: "Патрисия Стёклышкова",
              avatarImg:"feedback-avatar-2.jpg",
              time:"Неделю назад",
              likeBtnNum: 2,
              text: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать,\
              каждый день новое блюдо и десерт как комплимент"
            })
        .room-details__rules
          +heading({text: "Правила", level: "h2"})
          .room-details__rules-elem
            +bullet-list(
              "Нельзя с питомцами",
              "Без вечеринок и мероприятий",
              "Время прибытия — после 13:00, а выезд до 12:00"
            )
        .room-details__cancel
          +heading({text: "Отмена", level: "h2"})
          p.room-details__cancel-elem 
            | Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн.
            | до прибытия вы получите полный возврат за вычетом сбора за услуги.
  .line