@import '@scss/variables';

.pagination {
  &__wrapper {
    display: flex;
    justify-content: flex-start;
    height: 40px;

    @media (max-width: 767px) {
      justify-content: center;
    }
  }

  &__btn {
    flex: 0 0 40px;
    height: 40px;
    background: linear-gradient(180deg, $green 0%, $blue 100%);
    border-radius: 22px;
    color: #fff;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    font-size: 24px;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';

    &_hidden {
      display: none;
    }
  }

  &__pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: $dark50;
  }

  &__page {
    width: 40px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    color: $dark50;
    border-radius: 22px;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      text-shadow: 0 0 1px $dark50, 0 0 1px $dark50, 0 0 1px $dark50;
    }

    &_with_ellipsis {
      cursor: default;

      &:hover {
        text-shadow: none;
      }
    }

    &_active {
      background: $background-gradient;
      border-radius: 100%;
      font-weight: bold;
      color: #fff;
      cursor: default;

      &:hover {
        text-shadow: none;
      }
    }
  }

  &__info {
    padding-top: 13px;
    padding-left: 6px;
    font-weight: 400;
    font-size: 14px;
    text-transform: lowercase;
    color: $dark75;
  }
}
