//- В данном миксине используется шрифт Material Icons, необходимо подключить данный шрифт в проект
mixin pagination(options = {})
  - const { id = "" } = options;
    div.pagination(id= id)
      .pagination__wrapper
        button(class="pagination__btn js-pagination__btn pagination__btn_type_prev js-pagination__btn_type_prev pagination__btn_hidden" type="button") arrow_back
        .pagination__pages.js-pagination__pages
        button(class="pagination__btn js-pagination__btn pagination__btn_type_next js-pagination__btn_type_next" type="button") arrow_forward
      .pagination__info 
        span.pagination__current.js-pagination__current
        |  из 
        span.pagination__total.js-pagination__total
        |  вариантов аренды