@import '@scss/variables';
@import '@scss/mixins';

.pagination {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
  }

  &__btn {
    flex: 0 0 40px;
    height: 40px;
    background: linear-gradient(180deg, $green 0%, $blue 100%);
    border-radius: 22px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    @include font-material-icons;

    &:focus {
      outline: $focus-color auto 2px;
    }

    &_hidden {
      display: none;
    }
  }

  &__pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: $dark50;
  }

  &__page {
    width: 40px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    color: $dark50;
    border-radius: 22px;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      text-shadow: 0 0 1px $dark50, 0 0 1px $dark50, 0 0 1px $dark50;
    }

    &:focus {
      outline: $focus-color auto 2px;
    }

    &_with_ellipsis {
      cursor: default;

      &:hover {
        text-shadow: none;
      }
    }

    &_active {
      background: $background-gradient;
      border-radius: 100%;
      font-weight: bold;
      color: #fff;
      cursor: default;

      &:hover {
        text-shadow: none;
      }
    }
  }

  &__info {
    padding: 13px 6px 0px;
    font-weight: 400;
    font-size: 14px;
    text-transform: lowercase;
    color: $dark75;
    text-align: center;
  }
}

body.using-mouse {

  .pagination__btn:focus,
  .pagination__page:focus {
    outline: none;
  }
}
