mixin pagination(options)
  - const { id } = options;
    div(id= id)
      .pagination__wrapper
        button(class="pagination__btn pagination__btn_prev material-icons none" type="button") arrow_back
        .pagination__pages
        button(class="pagination__btn pagination__btn_next material-icons" type="button") arrow_forward
      .pagination__info 
        span.pagination__current
        |  из 
        span.pagination__total
        |  вариантов аренды