@import '@scss/variables';
@import '@scss/mixins';

.input {
  display: flex;
  flex-direction: column;
  position: relative;

  &_dropdown {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    @media (max-width: 480px) {
      flex-direction: column;
    }

    .material-icons {
      position: absolute;
      bottom: 8px;
      right: 10px;
      color: $dark50;
      cursor: pointer;

      &.active {
        transform: rotate(180deg);
        bottom: 10px;
      }
    }
  }

  &_small {
    max-width: 266px;
  }

  &__label {
    position: relative;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    line-height: 15 / 12 * 100%;
    text-transform: uppercase;
    color: $dark;

    &_small {
      width: 266px;
    }

    &_dropdown {
      @media (max-width: 480px) {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  input {
    margin-top: 5px;
    display: block;
    width: 100%;
    min-height: 44px;
    background: #FFFFFF;
    border: 1px solid $dark25;
    border-radius: 4px;
    padding: 13px 14px;
    font-size: 14px;
    color: $dark75;
    transition: border 0.2s ease-in;

    &:hover,
    &:focus {
      border: 1px solid $dark50;
    }

    @include placeholder($dark25, 13.6);

    @include focus(transparent);

    &.focused {
      border: 1px solid $dark50;
      font-size: 13.6px;
    }

    &.date-dropdown {
      width: 150px;
      cursor: pointer;

      &_width_max {
        width: 100%;
      }

      @media (max-width: 480px) {
        width: 100%;
      }

      @include placeholder($dark75, 13.6);

      @include focus($dark75);

    }

    &.subscription {
      &_small {
        max-width: 266px;
        padding: 13px 35px 13px 15px;
      }
    }
  }

  .subscription__btn {
    position: absolute;
    bottom: 0px;
    right: 2px;
    height: 43px;
    width: 40px;
    background-clip: text;
    -webkit-background-clip: text;

    .material-icons {
      background: $background-gradient;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: rgba(0, 0, 0, 0);
    }
  }
}
