.form__group-input {
  display: flex;
  flex-direction: column;

  label {
    position: relative;
    cursor: pointer;
  }

  &_dropdown {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    span {
      position: absolute;
      top: 32px;
      right: 9px;
      color: $dark50;
      cursor: pointer;

      &.active {
        transform: rotate(180deg);
        top: 29px;
      }
    }
  }

  input {
    margin-top: 5px;
    display: block;
    width: 100%;
    min-height: 44px;
    background: #FFFFFF;
    border: 1px solid $dark25;
    border-radius: 4px;
    padding: 13px 15px;
    font-size: 13.6px;
    color: $dark75;
    transition: border 0.2s ease-in;

    &:hover,
    &:focus {
      border: 1px solid $dark50;
    }

    @include placeholder($dark25, 13.6);

    @include focus(transparent);
  }

  input.date-dropdown {
    width: 150px;
    cursor: pointer;

    @media (max-width: 575px) {
      width: 140px;
    }

    @include placeholder($dark75, 13.6);

    @include focus($dark75);

    &_mini {
      width: 266px;
    }
  }

  input.subscription {
    &_mini {
      max-width: 266px;
      padding-right: 35px;
    }

    &+button {
      position: absolute;
      top: 23px;
      right: 55px;
      height: 40px;
      width: 40px;
      background: linear-gradient(180deg, $purple 0%, $purple-gradient 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media (max-width: 575px) {
        right: 25px;
      }
    }
  }
}
