mixin rating(options)
  - const { value } = options;
      div(class="rating rating_set" data-ajax="true")
        .rating__body
          .rating__active
          .rating__wrapper
            input.rating__elem(type="radio", value="1", name="rating")
            input.rating__elem(type="radio", value="2", name="rating")
            input.rating__elem(type="radio", value="3", name="rating")
            input.rating__elem(type="radio", value="4", name="rating")
            input.rating__elem(type="radio", value="5", name="rating")
          .rating__info
        .rating__value= value