//-  const { value, setRating(boolean) } = options;
mixin rating(options)
  - const { value, setRating = true } = options;
    if setRating 
      div(class="rating js-rating rating_set" data-ajax="true")
        .rating__body
          .rating__active.js-rating__active
          .rating__wrapper
            input.rating__elem.js-rating__elem(type="radio", value="1", name="rating")
            input.rating__elem.js-rating__elem(type="radio", value="2", name="rating")
            input.rating__elem.js-rating__elem(type="radio", value="3", name="rating")
            input.rating__elem.js-rating__elem(type="radio", value="4", name="rating")
            input.rating__elem.js-rating__elem(type="radio", value="5", name="rating")
          .rating__info.js-rating__info
        .rating__value.js-rating__value= value
    else 
      .rating.js-rating
        .rating__body
          .rating__active.js-rating__active
          .rating__wrapper
            input.rating__elem.js-rating__elem(type="radio", value="1", name="rating")
            input.rating__elem.js-rating__elem(type="radio", value="2", name="rating")
            input.rating__elem.js-rating__elem(type="radio", value="3", name="rating")
            input.rating__elem.js-rating__elem(type="radio", value="4", name="rating")
            input.rating__elem.js-rating__elem(type="radio", value="5", name="rating")
          .rating__info.js-rating__info
        .rating__value.js-rating__value= value