@import '@scss/variables';
@import '@scss/mixins';
@import '@comp/input/input';
@import '@comp/input/input-datepicker';
@import '@comp/dropdown/dropdown';
@import '@comp/button/button';

.card-search {
  &__wrapper {
    max-width: 380px;
    min-width: 270px;
    min-height: 358px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 39px 30px 29px 28px;

    @media (max-width: 480px) {
      max-width: initial;
      width: 100%;
    }
  }

  &__title {
    @media (max-width: 480px) {
      font-size: 19px;
      text-align: center;
    }
  }

  &__block {
    margin-top: 22px;
  }

  &__elem {
    margin-bottom: 21px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__btn {
    margin-top: 31px;
    height: 44px;
  }
}
