//- components
include ~@comp/input-datepicker/input-datepicker.pug
include ~@comp/dropdown/dropdown.pug
include ~@comp/button/button.pug

.card-search
  .card-search__wrapper
    h1.card-search__title Найдём номера под ваши пожелания
    form(action="#", method="get", name="card-search")
      .card-search__block
        .card-search__elem
          +input-datepicker({labelTextFirst:"прибытие", labelTextSecond:"выезд", id:'card-search-date', attributeName:"card-search-date-range", attributeType:"text", placeholder:"ДД.ММ.ГГГГ", dateWithDropdown: true})
        .card-search__elem
          +dropdown({labelText:"гости", attributeName:"card-search-guests", textInInput:"Сколько гостей", addBtn: true, elements:{"Взрослые" : 0, "Дети" : 0, "Младенцы" : 0}})
      .card-search__btn 
        +button({theme:"with-arrow", text:"подобрать номер", btnType:"submit"})