{
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": "warn",
    "fsd/hof-name-prefix": "error",
    "fsd/no-heavy-constructor": "error",
    "fsd/jq-cache-dom-elements": "error",
    "fsd/jq-use-js-prefix-in-selector": "error",
    "fsd/no-function-declaration-in-event-listener": "error",
    "fsd/split-conditionals": "error"
  },
  "extends": [
    "eslint:recommended"
  ],
  "plugins": ["fsd"],
  "env": {
    "es6": true,
    "browser": true
  }
}