//- В данном миксине используются иконки шрифта Font Awesome, необходимо подключить данный шрифт в проект
mixin footer-copyright(options = {})
  - const { isMiniVersion = false } = options;
  if isMiniVersion
    .footer-copyright.footer-copyright_size_mini
      .footer-copyright__container
        .footer-copyright__wrapper
          .footer-copyright__logo
            a(href="/metalamp/")
              include ./logo.pug
          p.footer-copyright__text Copyright © 2018 Toxin отель. Все права защищены.
          .footer-copyright__social-icons
            a(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer") <i class="footer-copyright__icon">&#xe901;</i>
            a(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer") <i class="footer-copyright__icon">&#xe900;</i>
            a(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer") <i class="footer-copyright__icon">&#xe902;</i>
  else
    .footer-copyright
      .footer-copyright__container
        .footer-copyright__wrapper
          .footer-copyright__logo
            a(href="/metalamp/")
              include ./logo.pug
          p.footer-copyright__text Copyright © 2018 Toxin отель. Все права защищены.
          .footer-copyright__social-icons
            a(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer") <i class="footer-copyright__icon">&#xe901;</i>
            a(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer") <i class="footer-copyright__icon">&#xe900;</i>
            a(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer") <i class="footer-copyright__icon">&#xe902;</i>