@import '@scss/variables';

.footer-copyright {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px $dark5;
  min-width: 310px;

  &_size_mini {
    max-width: 767px;
    margin: 0 auto;

    .footer-copyright__wrapper {
      display: block;
      text-align: center;
      padding: 16.65% 0;
      margin-bottom: 50px;
    }

    .footer-copyright__text {
      margin: 21px 0px 23px;
    }

    .footer-copyright__logo {
      display: initial;
    }
  }

  &__container {
    width: 95%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 5px;
  }

  &__wrapper {
    margin-top: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    width: 100%;

    @media (max-width: 767px) {
      display: block;
      text-align: center;
      padding: 16.65% 0;
      max-width: 767px;
      margin: 0 auto;

      .footer-copyright__text {
        margin: 21px 0px 23px;
      }
    }
  }

  &__logo {
    display: none;

    @media (max-width: 767px) {
      display: initial;
    }
  }

  &__social-icons {
    font-size: 25px;
  }

  &__icon {
    margin-right: 23px;
    font-family: 'Font Awesome';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    background: $background-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:first-child {
      font-size: 27px;
      margin-right: 20px;
    }

    &:last-child {
      margin-right: 1px;
    }
  }
}
