mixin footerCopyright(options)
  - const { mini } = options;
  if mini
    .footer__copyright.footer__copyright_small
      .container-content
        .footer__copyright-wrapper.footer__copyright-wrapper_small
          .footer__copyright-logo_small
            a(class="footer__logo" href="/")
              img(src=require("./img/logo-main.svg"), alt="logo")
          p Copyright © 2018 Toxin отель. Все права защищены.
          .footer__copyright-social
            a(href="/address/change-me" target="_blank" rel="noopener noreferrer") <i class="fa fa-twitter footer__copyright-icon" aria-hidden="true"></i>
            a(href="/address/change-me" target="_blank" rel="noopener noreferrer") <i class="fa fa-facebook-square footer__copyright-icon" aria-hidden="true"></i>
            a(href="/address/change-me" target="_blank" rel="noopener noreferrer") <i class="fa fa-instagram footer__copyright-icon" aria-hidden="true"></i>
  else
    .footer__copyright
      .container-content
        .footer__copyright-wrapper
          .footer__copyright-logo
            a(class="footer__logo" href="/")
              img(src=require("./img/logo-main.svg"), alt="logo")
          p Copyright © 2018 Toxin отель. Все права защищены.
          .footer__copyright-social
            a(href="/address/change-me" target="_blank" rel="noopener noreferrer") <i class="fa fa-twitter footer__copyright-icon" aria-hidden="true"></i>
            a(href="/address/change-me" target="_blank" rel="noopener noreferrer") <i class="fa fa-facebook-square footer__copyright-icon" aria-hidden="true"></i>
            a(href="/address/change-me" target="_blank" rel="noopener noreferrer") <i class="fa fa-instagram footer__copyright-icon" aria-hidden="true"></i>