//- В данном миксине используются иконки шрифта Font Awesome, необходимо подключить данный шрифт в проект

mixin footer-copyright(options = {})
  - 
    const {
      copyrightText = "",
      isMiniVersion = false
    } = options;
    const classActiveMiniVersion = isMiniVersion ? "footer-copyright_size_mini" : "";

  div(class=`footer-copyright ${classActiveMiniVersion}`)
    .footer-copyright__container
      .footer-copyright__wrapper
        a(class="footer-copyright__logo" href="/metalamp/")
          img(src="./img/logo-main.svg" alt="logo")
        p.footer-copyright__text= copyrightText
        .footer-copyright__social-icons
          a(class="footer-copyright__icon" href="/mock-address/change-me" target="_blank" rel="noopener noreferrer") &#xe901;
          a(class="footer-copyright__icon" href="/mock-address/change-me" target="_blank" rel="noopener noreferrer") &#xe900;
          a(class="footer-copyright__icon" href="/mock-address/change-me" target="_blank" rel="noopener noreferrer") &#xe902;
