mixin footerCopyright(options)
  - const { mini } = options;
  if mini
    .footer
      .footer__copyright.footer__copyright_mini-block
        .container-content
          .footer__copyright-wrapper.footer__copyright-wrapper_mini-block
            .footer__copyright-block-logo
              a(href="/metalamp/")
                include ~@comp/logo-main/logo-main.pug
            p.footer__copyright-text Copyright © 2018 Toxin отель. Все права защищены.
            .footer__copyright-social
              a(href="/address/change-me" target="_blank" rel="noopener noreferrer") <i class="fa fa-twitter footer__copyright-icon" aria-hidden="true"></i>
              a(href="/address/change-me" target="_blank" rel="noopener noreferrer") <i class="fa fa-facebook-square footer__copyright-icon" aria-hidden="true"></i>
              a(href="/address/change-me" target="_blank" rel="noopener noreferrer") <i class="fa fa-instagram footer__copyright-icon" aria-hidden="true"></i>
  else
    .footer
      .footer__copyright
        .container-content
          .footer__copyright-wrapper
            .footer__copyright-logo
              a(href="/metalamp/")
                include ~@comp/logo-main/logo-main.pug
            p.footer__copyright-text Copyright © 2018 Toxin отель. Все права защищены.
            .footer__copyright-social
              a(href="/address/change-me" target="_blank" rel="noopener noreferrer") <i class="fa fa-twitter footer__copyright-icon" aria-hidden="true"></i>
              a(href="/address/change-me" target="_blank" rel="noopener noreferrer") <i class="fa fa-facebook-square footer__copyright-icon" aria-hidden="true"></i>
              a(href="/address/change-me" target="_blank" rel="noopener noreferrer") <i class="fa fa-instagram footer__copyright-icon" aria-hidden="true"></i>