extends ~@lo/page/page

block variables
  - const title = "Войти в аккаунт"
  - const keywords = "вход, аккаунт, регистрация"

block content
  .login__block
    include ~@comp/card-input/card-input.pug