@import '@lo/page/page';
@import '@comp/card-input/card-input';

.sign-in {
  &__wrapper {
    background-image: url('~./img/bg-page-reg.jpg');
    background-size: 106.7%;
    background-position: 50% 52%;
    background-repeat: no-repeat;
    min-width: 310px;
    min-height: 46.5vw;

    @media (max-width: 1439px) {
      background-size: cover;
    }
  }

  &__block {
    padding: 14% 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
