extends ~@lo/page/page

block variables
  - const title = "Toxin - Войти в аккаунт"
  - const keywords = "вход, аккаунт, регистрация"

block content
  .sign-in
    .sign-in__wrapper
      .container-content
        .sign-in__block
          include ~@comp/card-input/card-input.pug