.button {
  background: linear-gradient(180deg, $purple 0%, $purple-gradient 100%);
  min-width: 99px;
  height: 44px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border-radius: 22px;
  line-height: 44 / 22 * 100%;
  color: #FFFFFF;
  font-size: 11.4px;
  transition: opacity 0.2s ease-in;
  padding: 0 12px;

  &_colored {

    &:hover,
    &:focus {
      opacity: 0.5;
    }

  }

  &_colored-hover {
    opacity: 0.5;
  }

  &_transparent {
    background: #FFFFFF;
    min-width: 95px;
    height: 40px;
    color: $purple;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      top: -2px;
      bottom: -2px;
      left: -2px;
      right: -2px;
      background-image: linear-gradient(180deg, $purple 0%, $purple-gradient 100%);
      z-index: -1;
      border-radius: 22px;
      transition: opacity 0.2s ease-in;
    }

    &:hover,
    &:focus {
      &::before {
        opacity: 0.5;
        background-image: linear-gradient(180deg, $purple 0%, $purple-gradient 100%);
      }
    }

  }

  &_transparent-hover {
    &::before {
      opacity: 0.5;
      background-image: linear-gradient(180deg, $purple 0%, $purple-gradient 100%);
    }

  }

  &_simple {
    min-width: auto;
    height: auto;
    font-size: 12px;
    line-height: 1;
    color: $purple;
    background: #FFFFFF;
    transition: color 0.2s ease-in;
    padding: 0;

    &:hover,
    &:focus {
      color: $dark50;
    }
  }

  &_simple-hover {
    color: $dark50;
  }

  &_big {
    position: relative;
    min-width: 320px;
    font-size: 12px;
    line-height: 105%;

    @media (max-width: 575px) {
      min-width: auto;
      width: 290px;
    }

    &:hover,
    &:focus {
      opacity: 0.75;
    }

    &::before {
      content: '';
      background-image: url('./img/arrow-forward.svg');
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 10px;
      right: 11px;
      width: 24px;
      height: 24px;
    }
  }
}
