//- options = { mod[coloured, transparent, simple, big], text, btnType, btnFunction }
mixin button(options, ...addclass)
  - const {mod, text, btnType, btnFunction} = options;
    button(class="button button_" +mod +addclass type= btnType data-function= btnFunction)= text