@import '@scss/variables';

.diagram {
  &__wrapper {
    display: flex;
    min-height: 155px;
  }

  &__rating-block {
    margin-top: 8px;
    max-width: 30%;
    min-width: 123px;
  }

  &__text {
    fill: $dark;
    font-weight: bold;
    font-size: 6.7px;
    text-transform: uppercase;
    text-anchor: middle;
    transform: translateY(1px);
  }

  &__segment {
    transition: stroke-width 0.2s ease-in;
  }

  &__number {
    transform: translateY(-1.3px);
  }

  &__label {
    font-size: 3.3px;
    transform: translateY(3.8px);
  }

  &__legend-block {
    padding-left: 27px;
    margin-top: 53px;
  }

  &__legend-item {
    cursor: pointer;
    margin-bottom: 10px;
    list-style: none;
    text-transform: capitalize;
    transition: color 0.2s ease-in, text-shadow 0.2s ease-in;

    &:hover {
      text-shadow: 0 0 1px $dark50, 0 0 1px $dark50, 0 0 1px $dark50;
      color: $dark;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__legend-point {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }
}
