extends ~@lo/page-with-aside/page-with-aside
//- components
include ~@comp/input/input.pug
include ~@comp/dropdown/dropdown.pug
include ~@comp/range-slider/range-slider.pug
include ~@comp/checkbox/checkbox.pug
include ~@comp/checkbox-list/checkbox-list.pug
include ~@comp/card-room/card-room.pug
include ~@comp/pagination/pagination.pug
//-

block variables
  - const title = "Toxin - Поиск номеров"
  - const keywords = "номера, booking, бронирование"

block content
  .container-content
    .search-room
      .search-room__wrapper
        button.search-room__aside-btn.js-search-room__aside-btn(type="button") Открыть фильтр
        aside.search-room__aside.js-search-room__aside
          .search-room__aside-elem
            +input({labelText:"Даты пребывания в отеле", id:"date-filter", attributeName:"date-filter", attributeType:"text", placeholder:"Выберите даты", dateWithFilter: true})
          .search-room__aside-elem
            +dropdown({labelText:"Гости", attributeName:"dropdown-guests", textInInput:"Сколько гостей", addBtn: true, mini: true, elements:{"Взрослые" : 2, "Дети" : 1, "Младенцы" : 1}})
          .search-room__aside-elem
            +rangeSlider({textLabel: "Диапазон цены", id: "range-slider-price"})
            span.search-room__aside-range-text Стоимость за сутки пребывания в номере
          .search-room__aside-elem
            h3 Правила дома
            .search-room__aside-block
              .search-room__aside-checkbox
                +checkbox({text:"Можно курить", name:"checkbox-1"})
              .search-room__aside-checkbox
                +checkbox({text:"Можно с питомцами", name:"checkbox-2", checked: true})
              .search-room__aside-checkbox
                +checkbox({text:"Можно пригласить гостей (до 10 человек)", name:"checkbox-3", checked: true})
          .search-room__aside-elem
            h3 Доступность
            .search-room__aside-block
              .search-room__aside-checkbox
                +checkbox({text:"Широкий коридор", addText:"Ширина коридоров в номере<br> не менее 91 см.", name:"rich-checkbox-1", expanded: true})
              .search-room__aside-checkbox
                +checkbox({text:"Помощник для инвалидов", addText:"На 1 этаже вас встретит специалист и проводит до номера.", name:"rich-checkbox-2", expanded: true})
          .search-room__aside-elem
            +dropdown({labelText:"Удобства номера", attributeName:"dropdown-rooms", textInInput:"Кол-во комнат", mini: true, elements:{"Спальни" : 2, "Кровати" : 2, "Ванные комнаты" : 0}})
          .search-room__aside-elem
            +checkbox-list({text:"дополнительные удобства", name:"checkbox-list", elements:{"Завтрак" : false, "Письменный стол" : true, "Стул для кормления" : true, "Кроватка" : true, "Телевизор" : false, "Шампунь" : false}})
          .search-room__limiter.js-search-room__limiter(tabindex="0")
        main.search-room__content
          h1 Номера, которые мы для вас подобрали
          .search-room__content-wrapper
            +cardRoom({ href: "room-details.html", number: 888, tag: "люкс", price: 9990, ratingValue: 5, numberOfReviews: 145 }, elements = "room1.jpg", "room1.jpg", "room1.jpg", "room1.jpg")
            +cardRoom({ href: "room-details.html", arrow: false, number: 840, price: 9900, ratingValue: 4, numberOfReviews: 65 }, elements = "room2.jpg", "room2.jpg", "room2.jpg", "room2.jpg")
            +cardRoom({ href: "room-details.html", arrow: false, number: 980, tag: "люкс", price: 8500, ratingValue: 3, numberOfReviews: 35 }, elements = "room3.jpg", "room3.jpg", "room3.jpg", "room3.jpg")
            +cardRoom({ href: "room-details.html", arrow: false, number: 856, price: 7300, ratingValue: 5, numberOfReviews: 19 }, elements = "room4.jpg", "room4.jpg", "room4.jpg", "room4.jpg")
            +cardRoom({ href: "room-details.html", arrow: false, number: 740, price: 6000, ratingValue: 4, numberOfReviews: 44 }, elements = "room5.jpg", "room5.jpg", "room5.jpg", "room5.jpg")
            +cardRoom({ href: "room-details.html", arrow: false, number: 982, price: 5800, ratingValue: 3, numberOfReviews: 56 }, elements = "room6.jpg", "room6.jpg", "room6.jpg", "room6.jpg")
            +cardRoom({ href: "room-details.html", arrow: false, number: 678, price: 5500, ratingValue: 5, numberOfReviews: 45 }, elements = "room7.jpg", "room7.jpg", "room7.jpg", "room7.jpg")
            +cardRoom({ href: "room-details.html", arrow: false, number: 450, price: 5300, ratingValue: 4, numberOfReviews: 39 }, elements = "room8.jpg", "room8.jpg", "room8.jpg", "room8.jpg")
            +cardRoom({ href: "room-details.html", arrow: false, number: 350, price: 5000, ratingValue: 3, numberOfReviews: 77 }, elements = "room9.jpg", "room9.jpg", "room9.jpg", "room9.jpg")
            +cardRoom({ href: "room-details.html", arrow: false, number: 666, price: 5000, ratingValue: 5, numberOfReviews: 25 }, elements = "room10.jpg", "room10.jpg", "room10.jpg", "room10.jpg")
            +cardRoom({ href: "room-details.html", arrow: false, number: 444, price: 5000, ratingValue: 3, numberOfReviews: 15 }, elements = "room11.jpg", "room11.jpg", "room11.jpg", "room11.jpg")
            +cardRoom({ href: "room-details.html", arrow: false, number: 352, price: 5000, ratingValue: 3, numberOfReviews: 55 }, elements = "room12.jpg", "room12.jpg", "room12.jpg", "room12.jpg")
          .search-room__pagination
            +pagination({ id:"pagination" })
  .line

