@import '@scss/variables';

$WIDTH_WHEN_FILTER_IS_ACTIVATED: 1100;

.search-room {
  &__wrapper {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 325px auto;

    @media (max-width: #{$WIDTH_WHEN_FILTER_IS_ACTIVATED}px) {
      grid-template-columns: auto;
      gap: 0 20px;
    }
  }

  &__aside-btn {
    cursor: pointer;
    display: none;

    @media (max-width: #{$WIDTH_WHEN_FILTER_IS_ACTIVATED}px) {
      display: inline-block;
      position: fixed;
      top: 50%;
      left: -41px;
      transform: rotate(-90deg) translateY(-50%);
      height: 40px;
      max-width: 165px;
      padding: 0 20px;
      background: $background-gradient;
      font-weight: 700;
      font-size: (12 / 14) + rem;
      line-height: 1;
      text-transform: uppercase;
      border-radius: 0 0 10px 10px;
      color: #FFFFFF;
      z-index: 99;
      transition: left 0.5s linear;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &:focus {
        outline: $focus-color auto 2px;
      }

      @media (max-width: 375px) {
        transition: left 0s linear;
      }
    }

    &_opened {
      left: 300px - 41px;

      @media (max-width: 375px) {
        top: 0%;
        left: 50%;
        transform: rotate(0deg) translateX(-50%);
        transition: left 0s linear;
        z-index: 100;
      }
    }
  }

  &__aside {
    width: 266px;

    @media (max-width: #{$WIDTH_WHEN_FILTER_IS_ACTIVATED}px) {
      position: fixed;
      background-color: #fff;
      transition: left 0.5s linear;
      top: 0;
      left: -300px;
      width: 300px;
      height: 100%;
      z-index: 99;
      padding: 90px 15px 90px;
      box-shadow: 0 10px 20px $dark5;

      @media (max-width: 375px) {
        left: -100%;
        width: 100%;
      }
    }

    &_opened {
      left: 0;
      overflow: auto;
    }
  }

  &__aside-elem {
    margin-bottom: 31px;

    @media (max-width: #{$WIDTH_WHEN_FILTER_IS_ACTIVATED}px) {
      max-width: 266px;
      margin-left: auto;
      margin-right: auto;
    }

    &:first-child {
      margin-bottom: 20px;
    }

    &:nth-child(5) {
      margin-bottom: 28px;
    }

    &:nth-child(6) {
      margin-bottom: 25px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__aside-range-text {
    display: inline-block;
    margin-top: 15px;
    font-size: (12 / 14) + rem;
    line-height: 1;
    color: $dark50;
  }

  &__aside-block {
    margin-top: 17px;
  }

  &__aside-checkbox {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__aside-checkbox-list {
    max-width: 257px;

    @media (max-width: #{$WIDTH_WHEN_FILTER_IS_ACTIVATED}px) {
      max-width: 97%;
    }
  }

  &__content {
    margin-bottom: 76px;

    @media (max-width: #{$WIDTH_WHEN_FILTER_IS_ACTIVATED}px) {
      text-align: center;
    }

    .heading {
      @media (max-width: 575px) {
        font-size: 1.5rem;
      }
    }
  }

  &__content-wrapper {
    margin: 22px 0 42px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(255px, auto));
    gap: 19px 12px;
    justify-content: center;
  }

  &__pagination {
    display: flex;
    justify-content: center;
  }
}

body.using-mouse {
  .search-room__aside-btn:focus {
    outline: none;
  }
}
