//- layout
extends ~@lo/page/page

//- components
include ~@comp/heading/heading
include ~@comp/input-datepicker/input-datepicker
include ~@comp/dropdown/dropdown
include ~@comp/range-slider/range-slider
include ~@comp/checkbox/checkbox
include ~@comp/checkbox-list/checkbox-list
include ~@comp/card-room/card-room
include ~@comp/pagination/pagination

block variables
  - const title = "Toxin - Поиск номеров"
  - const keywords = "номера, booking, бронирование"

block content
  .container-content
    .search-room
      .search-room__wrapper
        button.search-room__aside-btn.js-search-room__aside-btn(type="button") Открыть фильтр
        aside.search-room__aside.js-search-room__aside
          .search-room__aside-elem
            +input-datepicker({
              labelTextFirst:"Даты пребывания в отеле",
              attributeName:"date-filter",
              placeholder:"Выберите даты",
              hasOneInput: true,
              data: {
                startDate: "2019-08-19",
                finishDate: "2019-08-23",
              }
            })
          .search-room__aside-elem
            +dropdown({
              labelText:"Гости",
              attributeName:"dropdown-guests",
              textInInput:"Сколько гостей",
              hasControlBtn: true,
              elements:{
                "Взрослые": 2,
                "Дети": 1,
                "Младенцы": 1,
              },
              data: {
                variantsWordsObj: {
                  гость: ['гость', 'гостя', 'гостей'],
                  младенцы: ['младенец', 'младенца', 'младенцев'],
                },
              },
            })
          .search-room__aside-elem
            +range-slider({
              textLabel: "Диапазон цены",
              data: {
                start: [5000, 10000],
                min: 0,
                max: 16000,
                step: 500,
              },
            })
            span.search-room__aside-range-text Стоимость за сутки пребывания в номере
          .search-room__aside-elem
            +heading({text: "Правила дома"})
            .search-room__aside-block
              .search-room__aside-checkbox
                +checkbox({
                  title:"Можно курить",
                  nameCheckbox:"checkbox-1",
                })
              .search-room__aside-checkbox
                +checkbox({
                  title:"Можно с питомцами",
                  nameCheckbox:"checkbox-2",
                  isChecked: true
                })
              .search-room__aside-checkbox
                +checkbox({
                  title:"Можно пригласить гостей (до 10 человек)",
                  nameCheckbox:"checkbox-3",
                  isChecked: true
                })
          .search-room__aside-elem
            +heading({text: "Доступность"})
            .search-room__aside-block
              .search-room__aside-checkbox
                +checkbox({
                  title:"Широкий коридор",
                  subtitle:"Ширина коридоров в номере<br> не менее 91 см.",
                  nameCheckbox:"rich-checkbox-1",
                  isExpanded: true
                })
              .search-room__aside-checkbox
                +checkbox({
                  title:"Помощник для инвалидов",
                  subtitle:"На 1 этаже вас встретит специалист и проводит до номера.",
                  nameCheckbox:"rich-checkbox-2",
                  isExpanded: true
                })
          .search-room__aside-elem
            +dropdown({
              labelText:"Удобства номера",
              attributeName:"dropdown-rooms",
              textInInput:"Номер",
              elements: {
                "Спальни": 2,
                "Кровати": 2,
                "Ванные комнаты": 0,
              },
              data: {
                variantsWordsObj: {
                  спальни: ['спальня', 'спальни', 'спален'],
                  кровати: ['кровать', 'кровати', 'кроватей'],
                  'ванные комнаты': ['ванная комната', 'ванные комнаты', 'ванных комнат'],
                },
              },
            })
          .search-room__aside-elem
            .search-room__aside-checkbox-list
              +checkbox-list({
                title:"дополнительные удобства",
                name:"checkbox-list",
                objWithElem:{
                  "Завтрак": false,
                  "Письменный стол": true,
                  "Стул для кормления": true,
                  "Кроватка": true,
                  "Телевизор": false,
                  "Шампунь": false,
                },
              })
          .search-room__limiter.js-search-room__limiter(tabindex="0")
        main.search-room__content
          +heading({text: "Номера, которые мы для вас подобрали", level: "h1"}) 
          .search-room__content-wrapper
            +card-room({
              link: "room-details.html",
              showArrows: true,
              roomNumber: 888,
              roomType: "люкс",
              roomPrice: 9990,
              ratingValue: 5,
              numberOfReviews: 145,
              sliderImg: [
                "room-1.jpg",
                "room-1.jpg",
                "room-1.jpg",
                "room-1.jpg",
              ],
            })
            +card-room({
              link: "room-details.html",
              roomNumber: 840,
              roomPrice: 9900,
              ratingValue: 4,
              numberOfReviews: 65,
              sliderImg: [
                "room-2.jpg",
                "room-2.jpg",
                "room-2.jpg",
                "room-2.jpg",
              ],
            })
            +card-room({
              link: "room-details.html",
              roomNumber: 980,
              roomType: "люкс",
              roomPrice: 8500,
              ratingValue: 3,
              numberOfReviews: 35,
              sliderImg: [
                "room-3.jpg",
                "room-3.jpg",
                "room-3.jpg",
                "room-3.jpg",
              ],
            })
            +card-room({
              link: "room-details.html",
              roomNumber: 856,
              roomPrice: 7300,
              ratingValue: 5,
              numberOfReviews: 19,
              sliderImg: [
                "room-4.jpg",
                "room-4.jpg",
                "room-4.jpg",
                "room-4.jpg",
              ],
            })
            +card-room({
              link: "room-details.html",
              roomNumber: 740,
              roomPrice: 6000,
              ratingValue: 4,
              numberOfReviews: 44,
              sliderImg: [
                "room-5.jpg",
                "room-5.jpg",
                "room-5.jpg",
                "room-5.jpg",
              ],
            })
            +card-room({
              link: "room-details.html",
              roomNumber: 982,
              roomPrice: 5800,
              ratingValue: 3,
              numberOfReviews: 56,
              sliderImg: [
                "room-6.jpg",
                "room-6.jpg",
                "room-6.jpg",
                "room-6.jpg",
              ],
            })
            +card-room({
              link: "room-details.html",
              roomNumber: 678,
              roomPrice: 5500,
              ratingValue: 5,
              numberOfReviews: 45,
              sliderImg: [
                "room-7.jpg",
                "room-7.jpg",
                "room-7.jpg",
                "room-7.jpg",
              ],
            })
            +card-room({
              link: "room-details.html",
              roomNumber: 450,
              roomPrice: 5300,
              ratingValue: 4,
              numberOfReviews: 39,
              sliderImg: [
                "room-8.jpg",
                "room-8.jpg",
                "room-8.jpg",
                "room-8.jpg",
              ],
            })
            +card-room({
              link: "room-details.html",
              roomNumber: 350,
              roomPrice: 5000,
              ratingValue: 3,
              numberOfReviews: 77,
              sliderImg: [
                "room-9.jpg",
                "room-9.jpg",
                "room-9.jpg",
                "room-9.jpg",
              ],
            })
            +card-room({
              link: "room-details.html",
              roomNumber: 666,
              roomPrice: 5000,
              ratingValue: 5,
              numberOfReviews: 25,
              sliderImg: [
                "room-10.jpg",
                "room-10.jpg",
                "room-10.jpg",
                "room-10.jpg",
              ],
            })
            +card-room({
              link: "room-details.html",
              roomNumber: 444,
              roomPrice: 5000,
              ratingValue: 3,
              numberOfReviews: 15,
              sliderImg: [
                "room-11.jpg",
                "room-11.jpg",
                "room-11.jpg",
                "room-11.jpg",
              ],
            })
            +card-room({
              link: "room-details.html",
              roomNumber: 352,
              roomPrice: 5000,
              ratingValue: 3,
              numberOfReviews: 55,
              sliderImg: [
                "room-12.jpg",
                "room-12.jpg",
                "room-12.jpg",
                "room-12.jpg",
              ],
            })
          .search-room__pagination
            +pagination({
              maxElemPerPage: 12,
              numPagesToShow: 5,
              totalElements: 180,
            })
  .line

