//- options = { name, hex, color }
mixin color(options)
  - const { name, hex, color } = options;
    .colors__elem
      div(class="colors__sample colors__sample_" +color)
      .colors__descr
        p.colors__descr-title= name 
        span.colors__descr-subtitle= hex 