@import '@scss/variables';

.color {
  &__elem {
    display: flex;
    align-items: center;
  }

  &__sample {
    width: 70px;
    height: 70px;
    border-radius: 6px;

    &_bg_dark {
      background: $dark;
    }

    &_bg_dark-shade75 {
      background: $dark75;
    }

    &_bg_dark-shade50 {
      background: $dark50;
    }

    &_bg_dark-shade25 {
      background: $dark25;
    }

    &_bg_dark-shade5 {
      background: $dark5;
    }

    &_bg_purple {
      background: $purple;
    }

    &_bg_green {
      background: $green;
    }
  }

  &__descr {
    margin-left: 40px;
    font-size: 19px;
    line-height: 28px;
    align-items: center;
    color: $dark;
  }

  &__descr-title {
    font-weight: 700;
  }

  &__descr-subtitle {
    font-weight: 400;
  }
}
