//- options = { name, hex, color }
mixin color(options)
  - const { name, hex, color } = options;
    .color
      .color__elem
        div(class="color__sample color__sample_" +color)
        .color__descr
          p.color__descr-title= name 
          span.color__descr-subtitle= hex 