//- 
  const options = {
    title: String,
    subtitle: String,
    color: String,
  };
mixin color(options = {})
  - const { title = "", subtitle = "", color = "#000" } = options;
    .color
      .color__elem
        div(class="color__sample color__sample_bg_" +color)
        .color__descr
          p.color__descr-title= title 
          span.color__descr-subtitle= subtitle 