@import '@scss/variables';
@import '@scss/mixins';

.card-reg {
  &__block {
    width: 380px;
    min-width: 300px;
    min-height: 358px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 39px 28px 28px 29px;

    @media (max-width: 480px) {
      width: 100%;
    }
  }

  &__title {
    @include level-h1;

    @media (max-width: 480px) {
      font-size: (19 / 14) + rem;
      text-align: center;
    }
  }

  &__wrapper {
    margin-top: 16px;
  }

  &__elem {
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(4) {
      margin-bottom: 20px;
    }
  }

  &__elem_direction_row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 11px;
  }

  &__radiobtn {
    margin: 0px 20px 20px 0px;

    &:last-child {
      margin: 0;
    }
  }

  &__toggle {
    margin: 0px 20px 10px 0px;

    &:last-child {
      margin: 0;
    }
  }

  &__btn {
    margin-top: 22px;
    height: 44px;
  }

  &__sign-in {
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
  }

  &__text {
    font-size: 1rem;
    line-height: (18 / 14);
    color: #000000;
  }

  &__mini-btn {
    max-width: 99px;
    height: 44px;
    flex: 1 0 auto;
  }
}
