@import '@comp/input/input';
@import '@comp/button/button';
@import '@comp/radiobtn/radiobtn';
@import '@comp/toggle/toggle';

.card-reg {
  &__wrapper {
    margin-top: 15px;
  }

  &__elem {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    &_big-margin {
      margin-bottom: 20px;
    }
  }

  &__elem_row {
    display: flex;
    margin-top: 10px;
  }

  &__btn {
    margin-top: 24px;
  }

  &__sign-in {
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>span {
      font-size: 14px;
      line-height: 129%;
      color: #000000;
      padding-right: 10px;
    }
  }
}
