@import '@comp/input/input';
@import '@comp/button/button';
@import '@comp/radiobtn/radiobtn';
@import '@comp/toggle/toggle';

.card-reg {
  &__block {
    max-width: 380px;
    min-height: 358px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 39px 28px 30px;

    @media (max-width: 410px) {
      max-width: initial;
      width: 100%;
      padding: 30px 20px;
    }
  }

  &__title {
    @media (max-width: 410px) {
      font-size: 20px;
    }
  }

  &__wrapper {
    margin-top: 15px;
  }

  &__elem {
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }

    &_big-margin {
      margin-bottom: 20px;
    }
  }

  &__elem_row {
    display: flex;
    margin-top: 10px;
    padding: 1px;
  }

  &__btn {
    margin-top: 24px;
  }

  &__sign-in {
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;

    &-text {
      font-size: 14px;
      line-height: 129%;
      color: #000000;
      padding-right: 10px;
    }
  }
}
