//- components
include ~@comp/input/input.pug
include ~@comp/dropdown/dropdown.pug
include ~@comp/button/button.pug

.card__block
  .card-booking__top
    .card-booking__info
      span №
      span.card-booking__number 888
      span.card-booking__tag люкс
    .card-booking__price
      span 9 990₽
      | в сутки
  form(action="#", method="get", name="card-booking")
    .card-booking__wrapper
      .card-booking__elem
        +input({labelText:"прибытие", labelTextSecond:"выезд", id:'card-booking-date', attributeName:"card-search-date-range", attributeType:"text", placeholder:"ДД.ММ.ГГГГ", typeMask:"date", dateWithDropdown: true})
      .card-booking__elem
        +dropdown({labelText:"гости", attributeName:"card-booking-guests", textInInput:"Сколько гостей", addBtn: true, elements:{"Взрослые" : 3, "Дети" : 0, "Младенцы" : 0}})
      .card-booking__details
        .card-booking__details-elem
          p.card-booking__details-text
            span#booking-cost 9 990₽
            |  х 
            span#booking-day 4 суток
          span#booking-cost-result 39 960₽
        .card-booking__details-elem
          p.card-booking__details-text Сбор за услуги: скидка 
            span#booking-sale 2 179₽
          span(class="info__point" data-tooltip="Подсказка") i
            i#tooltip.info__tooltip
          span#booking-services-result 0₽
        .card-booking__details-elem
          p.card-booking__details-text Сбор за дополнительные услуги
          span(class="info__point" data-tooltip="Подсказка другая") i
            i#tooltip.info__tooltip
          span#booking-addservices-result 300₽
        .card-booking__details-total
          p Итого
            span#booking-total 38 081₽
    .card-booking__btn 
      +button({mod:"big", text:"забронировать", btnType:"submit"})