//-  
  const options = { 
    textLabel: String,
    data: { 
      start: [0, 100],
      step: 1,
      min: 0,
      max: 100,
      decimals: 0,
    }
  };
mixin range-slider(options = {})
  - const { textLabel = "label", data = {} } = options;
  .range-slider.js-range-slider
    .range-slider__wrapper
      .range-slider__info-block
        h3.range-slider__title= textLabel
        span.range-slider__info.js-range-slider__info
          span.range-slider__info-min.js-range-slider__info-min 0
          |  - 
          span.range-slider__info-max.js-range-slider__info-max 0
      div(class="range-slider__slider js-range-slider__slider" data-options= data)
