@import '~air-datepicker/dist/css/datepicker.css';
@import '@base/base';
@import '@comp/logo/logo';
@import '@comp/input/input';
@import '@comp/input/input-datepicker';
@import '@comp/dropdown/dropdown';

.form-elements {

  &__header {
    margin-left: 30px;
    margin-top: 30px;
  }

  &__container {
    max-width: 1654px;
    margin: 65px auto 0 auto;
    padding: 0 15px;
  }

}

.form {

  &__item {
    margin-bottom: 20.5px;
    max-width: 320px;
    position: relative;

    &:nth-child(4) {
      margin-bottom: 40px;
    }
  }

  &__tag {
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.7 / 12 * 100%;
    text-transform: uppercase;
    color: $dark50
  }

}
