@import '@scss/variables';

.container__form-elements {
  max-width: 1654px;
  margin: 65px auto 0 auto;
  padding: 0 15px;
}

.form {

  &__item {
    margin-bottom: 20px;
    max-width: 320px;
    position: relative;
  }

  &__tag {
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.7 / 12 * 100%;
    text-transform: uppercase;
    color: $dark50
  }

}
