//- layout
extends ~@lo/ui-kit/ui-kit

//- components
include ~@comp/ui-header/ui-header
include ~@comp/heading/heading
include ~@comp/input/input
include ~@comp/dropdown/dropdown
include ~@comp/input-datepicker/input-datepicker
include ~@comp/checkbox/checkbox
include ~@comp/radio-btn/radio-btn
include ~@comp/toggle/toggle
include ~@comp/like/like
include ~@comp/simple-rating/simple-rating
include ~@comp/range-slider/range-slider
include ~@comp/button/button
include ~@comp/pagination/pagination
include ~@comp/checkbox-list/checkbox-list
include ~@comp/bullet-list/bullet-list
include ~@comp/info-icon/info-icon
include ~@comp/feedback/feedback
//-

block variables
  - const title = "UI Kit - Form Elements"
  - const keywords = "ui-kit"

block content
  +ui-header("ui-header-logo.svg")
  .form-elements
    .form-elements__wrapper
      .form-elements__block
        .form-elements__item.form-elements__item_margin_mini
          .form-elements__tag Default
          +input({
            labelText:"text field",
            attributeName:"email-simple",
            attributeType:"email",
            placeholder:"Email",
          })
        .form-elements__item.form-elements__item_margin_mini
          .form-elements__tag Hover / Focus
          +input({
            labelText:"text field",
            attributeName:"text",
            attributeType:"text",
            placeholder:"Text",
            valueInInput:"This is pretty awesome",
            isFocused: true,
          })
        .form-elements__item.form-elements__item_margin_mini
          +dropdown({
            labelText:"dropdown",
            attributeName:"dropdown-guests",
            textInInput:"Сколько гостей",
            hasControlBtn: true,
            elements:{
              "Взрослые": 0,
              "Дети": 0,
              "Младенцы": 0,
            },
            data: {
              variantsWordsObj: {
                гость: ['гость', 'гостя', 'гостей'],
                младенцы: ['младенец', 'младенца', 'младенцев'],
              },
            },
          })
        .form-elements__item
          +input({
            labelText:"masked text field",
            attributeName:"date",
            attributeType:"text",
            placeholder:"ДД.ММ.ГГГГ",
            addDateMask: true,
          })
        .form-elements__item
          +input-datepicker({
            labelTextFirst:"date dropdown",
            labelTextSecond:"date dropdown",
            attributeName:"date-range",
            data: {
              finishDate: "2019-08-19",
            },
          })
        .form-elements__item.form-elements__item_width_limited
          +input-datepicker({
            labelTextFirst:"filter date dropdown",
            attributeName:"date-filter",
            placeholder:"Выберите даты",
            hasOneInput: true,
            data: {
              startDate: "2019-08-19",
              finishDate: "2019-08-23",
            },
          })
        .form-elements__item.form-elements__item_width_limited
          +input({
            labelText:"subscription text field",
            attributeName:"email",
            attributeType:"email",
            placeholder:"Email",
            inputTypeSubscribe: true,
          })
      .form-elements__block
        .form-elements__item
          +heading({text:"Checkbox Buttons"}) 
          .form-elements__flex-wrapper
            .form-elements__checkbox-item
              +checkbox({
                title:"Можно курить",
                nameCheckbox:"checkbox-1",
              })
            .form-elements__checkbox-item
              +checkbox({
                title:"Можно с питомцами",
                nameCheckbox:"checkbox-2",
                isChecked: true,
              })
            .form-elements__checkbox-item
              +checkbox({
                title:"Можно пригласить гостей (до 10 человек)",
                nameCheckbox:"checkbox-3",
                isChecked: true,
              })
        .form-elements__item.form-elements__item_margin_mini
          +heading({text:"Radio Buttons"})
          .form-elements__flex-wrapper.form-elements__flex-wrapper_flex_row
            .form-elements__radiobtn
              +radio-btn({
                text:"Мужчина",
                name:"radio-btn",
                isChecked: true,
              })
            .form-elements__radiobtn
              +radio-btn({
                text:"Женщина",
                name:"radio-btn",
              })
        .form-elements__item
          +heading({text:"Toggle"})
          .form-elements__toggle-block
            .form-elements__toggle
              +toggle({
                text:"Получать спецпредложения",
                name:"toggle-1",
                isChecked: true,
              })
            .form-elements__toggle
              +toggle({
                text:"Получать спецпредложения",
                name:"toggle-2",
              })
        .form-elements__item
          +heading({text:"Like Button"})
          .form-elements__flex-wrapper.form-elements__flex-wrapper_flex_row
            .form-elements__like
              +like({counter:2})
            .form-elements__like
              +like({counter:12, isActive: true})
        .form-elements__item
          +heading({text:"Rate Button"})
          .form-elements__flex-wrapper.form-elements__flex-wrapper_flex_row
            .form-elements__rating
              +simple-rating({value: 4})
            .form-elements__rating
              +simple-rating({value: 5})
      .form-elements__block
        .form-elements__item.form-elements__item_margin_big.form-elements__item_width_limited
          +range-slider({
            textLabel: "Range Slider",
            data: {
              start: [5000, 10000],
              step: 500,
              min: 0,
              max: 16000,
            },
          })
        .form-elements__item
          +heading({text:"Buttons"})
          .form-elements__flex-wrapper.form-elements__flex-wrapper_flex_row
            .form-elements__btn-row
              .form-elements__btn-elem
                +button({ text:"click me" })
              .form-elements__btn-elem
                +button({
                  text:"click me",
                  isHoverState: true,
                })
            .form-elements__btn-row
              .form-elements__btn-elem
                +button({
                  theme:"transparent",
                  text:"click me",
                })
              .form-elements__btn-elem
                +button({
                  theme:"transparent",
                  text:"click me",
                  isHoverState: true,
                })
            .form-elements__btn-row
              .form-elements__btn-elem
                +button({
                  theme:"simple",
                  text:"click me",
                })
              .form-elements__btn-elem
                +button({
                  theme:"simple",
                  text:"click me",
                  isHoverState: true,
                })
            .form-elements__btn-row
              +button({
                theme:"with-arrow",
                text:"перейти к оплате",
              })
        .form-elements__item
          +heading({text:"Pagination"})
          .form-elements__pagination
            +pagination({
              maxElemPerPage: 12,
              numPagesToShow: 5,
              totalElements: 180,
            })
      .form-elements__block
        .form-elements__item.form-elements__item_width_limited.form-elements__item_margin_mini
          .form-elements__tag.form-elements__tag_position_default Default
          +dropdown({
            labelText:"dropdown",
            attributeName:"dropdown-rooms",
            textInInput:"Номер",
            elements: {
              "Спальни": 2,
              "Кровати": 2,
              "Ванные комнаты": 0,
            },
            data: {
              variantsWordsObj: {
                спальни: ['спальня', 'спальни', 'спален'],
                кровати: ['кровать', 'кровати', 'кроватей'],
                'ванные комнаты': ['ванная комната', 'ванные комнаты', 'ванных комнат'],
              },
            },
          })
        .form-elements__item.form-elements__item_width_limited
          .form-elements__tag.form-elements__tag_position_default Expanded
          +dropdown({
            labelText:"dropdown",
            attributeName:"dropdown-rooms2",
            textInInput:"Номер",
            isOpen: true,
            elements:{
              "Спальни": 2,
              "Кровати": 2,
              "Ванные комнаты": 0,
            },
            data: {
              variantsWordsObj: {
                спальни: ['спальня', 'спальни', 'спален'],
                кровати: ['кровать', 'кровати', 'кроватей'],
                'ванные комнаты': ['ванная комната', 'ванные комнаты', 'ванных комнат'],
              },
            },
          })
      .form-elements__block
        .form-elements__item.form-elements__item_margin_mini
          +dropdown({
            labelText:"dropdown",
            attributeName:"dropdown-guests2",
            textInInput:"Сколько гостей",
            isOpen: true,
            hasControlBtn: true,
            elements:{
              "Взрослые": 0,
              "Дети": 0,
              "Младенцы": 0,
            },
            data: {
              variantsWordsObj: {
                гость: ['гость', 'гостя', 'гостей'],
                младенцы: ['младенец', 'младенца', 'младенцев'],
              },
            },
          })
      .form-elements__block
        .form-elements__item.form-elements__item_margin_big
          +dropdown({
            labelText:"dropdown",
            attributeName:"dropdown-guests3",
            textInInput:"Сколько гостей",
            isOpen: true,
            hasControlBtn: true,
            elements:{
              "Взрослые": 2,
              "Дети": 1,
              "Младенцы": 0,
            },
            data: {
              variantsWordsObj: {
                гость: ['гость', 'гостя', 'гостей'],
                младенцы: ['младенец', 'младенца', 'младенцев'],
              },
            },
          })
      .form-elements__block
        .form-elements__checkbox-list
          +checkbox-list({
            title:"expandable checkbox list",
            name:"checkbox-list",
            objWithElem: {
              "Завтрак": false,
              "Письменный стол": true,
              "Стул для кормления": true,
              "Кроватка": true,
              "Телевизор": false,
              "Шампунь": false,
            },
          })
        .form-elements__checkbox-list
          +checkbox-list({
            title:"expandable checkbox list",
            name:"checkbox-list-2",
            isOpen: true,
            objWithElem: {
              "Завтрак": false,
              "Письменный стол": true,
              "Стул для кормления": true,
              "Кроватка": true,
              "Телевизор": false,
              "Шампунь" : false,
            },
          })
      .form-elements__block
        .form-elements__item.form-elements__item_margin-top_added
          +heading({text:"rich checkbox buttons"})
          .form-elements__flex-wrapper
            .form-elements__rich-checkbox-item
              +checkbox({
                title:"Широкий коридор",
                subtitle:"Ширина коридоров в номере<br> не менее 91 см.",
                nameCheckbox:"rich-checkbox-1",
                isExpanded: true,
              })
            .form-elements__rich-checkbox-item
              +checkbox({
                title:"Помощник для инвалидов",
                subtitle:"На 1 этаже вас встретит специалист и проводит до номера.",
                nameCheckbox:"rich-checkbox-2",
                isExpanded: true,
              })
      .form-elements__block
        .form-elements__item.form-elements__item_margin-top_added
          +heading({text:"bullet list"}) 
          .form-elements__bullet-list
            +bullet-list(
              "Нельзя с питомцами",
              "Без вечеринок и мероприятий",
              "Время прибытия — после 13:00, а выезд до 12:00"
            )
      .form-elements__block
        .form-elements__info-icon
          +info-icon({
            title: "Комфорт",
            subtitle: "Шумопоглощающие стены",
            icon: "insert_emoticon",
          })
        .form-elements__info-icon
          +info-icon({
            title: "Удобство",
            subtitle: "Окно в каждой из спален",
            icon: "location_city",
          })
      .form-elements__block
        .form-elements__feedback
          +feedback({
            name: "Мурад Сарафанов",
            avatarImg:"feedback-avatar-1.jpg",
            time:"5 дней назад",
            likeBtnNum: 12,
            hasLikeBtnActive: true,
            text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.\
            И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
          })