@import '@scss/variables';

.form-elements {
  &__wrapper {
    padding-top: 63px;
    display: grid;
    grid-template-columns: auto 375px auto;
    grid-template-rows: auto minmax(257px, max-content) minmax(311px, max-content);
    justify-items: center;
    gap: 59px 72px;

    @media (max-width: 1199px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: normal;
    }

    @media (max-width: 767px) {
      grid-template-columns: auto;
    }
  }

  &__block {
    width: 320px;

    &:nth-child(1n) {
      justify-self: right;

      @media (max-width: 1199px) {
        justify-self: center;
      }

    }

    &:nth-child(3n) {
      justify-self: left;

      @media (max-width: 1199px) {
        justify-self: center;
      }

    }

    @media (max-width: 375px) {
      width: 290px;
    }

    &:last-child {
      grid-column: 2 / span 2;
      grid-row: 4;
      width: 100%;

      @media (max-width: 1199px) {
        grid-column: 1 / -1;
        grid-row: auto;
      }
    }
  }

  &__item {
    margin-bottom: 41px;
    max-width: 320px;
    position: relative;

    &_margin_mini {
      margin-bottom: 20.5px;
    }

    &_margin_big {
      margin-bottom: 44px;
    }

    &_width_limited {
      max-width: 266px;
    }

    &_margin-top_added {
      margin-top: 5px;
    }
  }

  &__tag {
    position: absolute;
    right: -1px;
    top: -1px;
    font-weight: 400;
    font-size: 11.8px;
    line-height: 14.7 / 12 * 100%;
    text-transform: uppercase;
    color: $dark50;

    &_position_default {
      right: 0px;
      top: 0px;
    }
  }

  &__flex-wrapper {
    margin-top: 17px;
    display: flex;
    flex-direction: column;

    &_flex_row {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__checkbox-item {
    max-width: 320px;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__radiobtn {
    margin-right: 20px;
    margin-bottom: 21px;

    &:last-child {
      margin-right: 0px;
      margin-bottom: 0px;
    }
  }

  &__toggle {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__like {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

  }

  &__rating {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__btn-row {
    display: flex;
    margin-bottom: 31px;

    &:nth-child(1) {
      margin-bottom: 29px;
    }

    &:nth-child(2) {
      margin-bottom: 33px;
    }

    &:nth-child(3) {

      .form-elements__btn-elem {
        min-width: auto;
        height: auto;

        &:first-child {
          margin-right: 21px;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
      width: 100%;
      height: 44px;
    }
  }

  &__btn-elem {
    margin-right: 20px;
    min-width: 99px;
    height: 44px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__pagination {
    margin-top: 15px;
    max-width: 241px;
  }

  &__checkbox-list {
    max-width: 256px;
    margin-bottom: 41px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__rich-checkbox-item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__bullet-list {
    margin-top: 13px;
    max-width: 260px;
  }

  &__info-icon {
    margin-bottom: 19px;
    max-width: 280px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__feedback {
    max-width: 767px;
    padding-left: 55px;
    margin: 11px 0px 50px;

    @media (max-width: 767px) {
      padding-left: 0;
    }
  }
}
