@import './variables';

// добавление шрифтов
// пример:  @include font('Roboto', 'RobotoSlab-Bold', '700', 'normal');
@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url('../fonts/#{$file_name}.woff2') format('woff2'),
    url('../fonts/#{$file_name}.woff') format('woff');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

// Стилизация placeholder
// пример: @include placeholder($dark, transparent, 14);
@mixin placeholder($placeholderColor, $focusColor, $fontSizeInRem) {
  &::placeholder {
    color: $placeholderColor;
    font-size: $fontSizeInRem + 'rem';
    transition: color 0.2s ease-in;
  }

  &:focus::placeholder {
    color: $focusColor;
  }
}

// Cкрывает элемент
@mixin hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Настройки для Material Icons
@mixin font-material-icons() {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

@mixin level-h1() {
  font-weight: 700;
  color: $dark;
  font-size: (24 / 14) + rem;
  line-height: (29 / 24);
}

@mixin level-h2() {
  font-weight: 700;
  color: $dark;
  font-size: (19 / 14) + rem;
  line-height: (23 / 19);
}

@mixin level-h3() {
  font-weight: 700;
  color: $dark;
  font-size: (12 / 14) + rem;
  line-height: (15 / 12);
  text-transform: uppercase;
}
