// основные настройки
html {
  font-family: $font-family;
  background-color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: $dark75;
}

input,
button,
textarea {
  font-family: $font-family;
}

h1,
h2,
h3 {
  font-family: $font-family;
  font-weight: 700;
  color: $dark;
}

h1 {
  font-size: 24px;
  line-height: 29px;
}

h2 {
  font-size: 19px;
  line-height: 23px;
}

h3 {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

// общие классы
.ui-header {
  margin-left: 30px;
  margin-top: 30px;
}

.label {
  font-weight: 700;
  font-size: 12px;
  line-height: 15 / 12 * 100%;
  text-transform: uppercase;
  color: $dark;
}

.card {
  &__block {
    max-width: 380px;
    min-height: 358px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 39px 28px 30px 29px;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.21;
    color: $dark;
  }
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.none {
  display: none;
}

.hidden {
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}
