@import './variables';

// основные настройки
*,
*:before,
*:after {
  font-family: $font-family;
}

html {
  font-family: $font-family;
  background-color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: (24 / 14);
  color: $dark75;
}

// общие классы
.line {
  min-width: 310px;
  width: 100%;
  border-bottom: 1px solid $dark25;
}
