// Шрифты
$font-family: Montserrat,
Arial,
sans-serif;

// Цвета
$focus-color: #BC9CFF;
$purple: #BC9CFF;
$purple-gradient: #8BA4F9;
$green: #6FCF97;
$blue: #66D2EA;
$dark: #1F2041;
$dark75: rgba(31, 32, 65, 0.75);
$dark50: rgba(31, 32, 65, 0.5);
$dark25: rgba(31, 32, 65, 0.25);
$dark10: rgba(31, 32, 65, 0.1);
$dark5: rgba(31, 32, 65, 0.05);
$background-gradient: linear-gradient(180deg, $purple 0%, $purple-gradient 100%);
$background-grey: #F4F4F6;
