@import '@comp/checkbox/checkbox';

.checkbox-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  span {
    color: $dark50;
  }

  &__block {
    max-width: 256px;
  }

  &__wrapper {
    padding: 13px 0;
  }

}

body.using-mouse {
  .checkbox-list:focus {
    outline: none;
  }
}
