@import '@scss/variables';
@import '@scss/mixins';

.checkbox-list {
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    @include level-h3;

    &:focus {
      outline: $focus-color auto 2px;
    }
  }

  &__arrow {
    color: $dark50;
    font-size: 24px;
    @include font-material-icons;
  }

  &__wrapper {
    padding: 13px 0;
  }

  &__elem {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

body.using-mouse {
  .checkbox-list__block:focus {
    outline: none;
  }
}
