@import '@lo/page/page';
@import '@comp/card-search/card-search';

.main-page {
  &__block {
    background-image: url('./img/main-page-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__content {
    padding-top: 70px;
    padding-bottom: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 830px;

    @media (max-width: 410px) {
      min-height: 600px;
    }
  }

  &__text {
    max-width: 297px;
    font-size: 14px;
    line-height: 171%;
    color: $dark75;
    text-align: right;
    align-self: flex-end;
    margin-right: -7px;
  }
}
