@import '@lo/page/page';
@import '@comp/card-search/card-search';

.main-page {
  &__block {
    min-width: 310px;
    background-image: url('./img/main-page-bg.jpg');
    background-size: 107%;
    background-position: 50% 68%;
    background-repeat: no-repeat;

    @media (max-width: 1439px) {
      background-size: cover;
    }
  }

  &__content {
    padding-top: 70px;
    padding-bottom: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 57.6vw;
  }

  &__text {
    max-width: 297px;
    font-size: 14px;
    line-height: 171%;
    color: $dark75;
    text-align: right;
    align-self: flex-end;
    margin-right: -6px;

    @media (max-width: 991px) {
      margin-right: 0;
      padding-top: 10%;
    }
  }
}
