extends ~@lo/page/page

block variables
  - const title = "Toxin - Бронирование отелей"
  - const keywords = "номера, booking, бронь"

block content
  .main-page__block
    .container-content
      .main-page__content
        include ~@comp/card-search/card-search
        .main-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения