doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Шаблон для MetaLamp
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Шаблон для MetaLamp")
    meta(name="keywords", content="шаблон")
    link(rel="icon", href="./favicon.png", type="image/png")
  body