@import '@scss/variables';

.main-page {
  &__block {
    min-width: 310px;
    background-image: url('~./img/main-page-bg.jpg');
    background-size: 107%;
    background-position: 50% 68%;
    background-repeat: no-repeat;

    @media (max-width: 1439px) {
      background-size: cover;
    }
  }

  &__content {
    padding: 70px 0 21px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 830px;

    @media (max-width: 575px) {
      align-items: center;
    }
  }

  &__text {
    max-width: 297px;
    font-size: 1rem;
    line-height: (24 / 14);
    color: $dark75;
    text-align: right;
    align-self: flex-end;

    @media (max-width: 991px) {
      padding: 1% 0;
    }
  }
}
