@import '@base/base';
@import '@comp/logo/logo';
@import '@comp/color/color';

.colors-type {
  &__header {
    margin-left: 30px;
    margin-top: 30px;
  }

  &__container {
    max-width: 1635px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
  }
}

.colors {

  &__wrapper {
    margin-top: 68px;
  }

  &__item {
    margin-bottom: 19.9px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.type {

  &__wrapper {
    margin-top: 68px;
    margin-right: 469px;
    max-width: 440px;
  }

  &__elem {
    margin-bottom: 50.8px;
    display: flex;

    &:last-child {
      margin-bottom: 0;
      max-width: 375px;
      line-height: 23px;
    }

    span {
      display: block;
      flex: 0 0 37px;
      margin-right: 30px;
      font-weight: 400;
      font-size: inherit;
      line-height: inherit;
      text-align: right;
      color: $dark25;
    }
  }
}
