mixin colors(title, subtitle, addclass)
  .colors__elem
    div(class="colors__sample colors__sample_" +addclass)
    .colors__descr
      p.colors__descr-title= title 
      span.colors__descr-subtitle= subtitle 