@import '~air-datepicker/dist/css/datepicker.css';
@import '@scss/variables';
@import '@scss/mixins';

.datepicker {
  width: 318px;
  background: #FFFFFF;
  border: 1px solid $dark25;
  box-shadow: 0px 10px 20px $dark5;
  border-radius: 4px;
  z-index: 1200;

  @media (max-width: 480px) {
    width: 290px;
  }

  &_style_filter {
    width: 266px;

    .datepicker--nav {
      min-height: 50px;
    }

    .datepicker--content {
      padding: 5px 15px 15px
    }

    .datepicker--cell-day {
      height: 32.42px;
    }

    .datepicker--cell-day.-current- {
      height: 32.42px;
    }
  }

  &--pointer {
    display: none;
  }

  &--nav {
    display: flex;
    border-bottom: 0px;
    min-height: 60px;
    padding: 4px 16px;
  }

  &--nav-action-arrow {
    font-size: 24px;
    color: $purple;
    @include font-material-icons;
  }

  &--nav-title {
    font-family: $font-family;
    font-weight: 700;
    font-size: 19px;
    line-height: 23 / 19 * 100%;
    color: $dark;

    i {
      color: inherit;
    }
  }

  &--day-name {
    font-family: $font-family;
    font-weight: 700;
    font-size: 12px;
    line-height: 15 / 12 * 100%;
    color: $purple;
    text-transform: capitalize;
  }

  &--content {
    padding: 17px 18px 16px 21px;

    @media (max-width: 480px) {
      padding: 18px 10px;
    }
  }

  &--cells {
    margin-top: 11px;
    font-family: $font-family;
    font-weight: 400;
    font-size: 12px;
    line-height: 15 / 12 * 100%;
    color: $dark50;
  }

  &--cell-day {
    height: 40.5px;

    @media (max-width: 480px) {
      width: 14.28571%;
      height: 33px;
    }
  }

  &--cell-day.-focus- {
    border-radius: 100%;
    font-weight: 700;
    border: 1px solid $purple;
    background: transparent;
  }

  &--cell-day.-other-month-,
  &--cell-year.-other-decade- {
    color: $dark25;
  }

  &--cell-day.-current- {
    background: linear-gradient(180deg, $green 0%, $blue 100%);
    height: 40.5px;

    border-radius: 100%;
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;

    @media (max-width: 480px) {
      height: 33px;
    }
  }

  &--cell-day.-current-.-focus- {
    border: 1px solid $purple;
    background: transparent;
    color: #4eb5e6;
  }

  &--cell-month.-current-,
  &--cell-year.-current-,
  &--cell-month.-current-.-focus-,
  &--cell-year.-current-.-focus-,
  &--cell-month.-current-.-selected-,
  &--cell-year.-current-.-selected-,
  &--cell-month.-selected-,
  &--cell-year.-selected-,
  &--cell-month.-selected-.-focus- {
    color: #fff;
    font-weight: 700;
    background: $background-gradient;
  }

  &--cell-day.-selected-,
  &--cell-day.-selected-.-current-,
  &--cell-day.-selected-.-focus-,
  &--cell-day.-other-month-.-selected-,
  &--cell-day.-other-month-.-selected-.-focus- {
    background: $background-gradient;
    font-weight: 700;
  }

  &--cell-day.-disabled- {
    border: 0;
  }

  &--cell-day.-disabled-.-focus- {
    background: none;
    border: 0;
  }

  &--cell-day.-in-range-,
  &--cell-day.-in-range-.-focus- {
    background: linear-gradient(180deg, rgba($color: $purple, $alpha: 0.25) 0%, rgba($color: $purple-gradient, $alpha: 0.25) 100%);
    border-radius: 0px;
    border: 0;
  }

  &--cell-day.-in-range-.-disabled- {
    background: none;
  }

  &--cell-day.-current-.-in-range- {
    color: #4eb5e6;
    border-radius: 0;
  }

  &--cell-day.-range-from-.-disabled- {
    border: none;
    background-color: transparent;
    border-radius: 0;
  }

  &--cell-day.-range-to-,
  &--cell-day.-range-from- {
    border: 1px solid $purple;
    background-color: transparent;
    border-radius: 100%;
  }

  &--cell-day.-range-to-.-current-.-selected-.-focus-,
  &--cell-day.-range-from-.-current-.-selected-.-focus- {
    color: #ffffff;
  }

  &--cell-day.-range-from-.-selected- {
    border: 0px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: 50%;
      height: 100%;
      background: linear-gradient(180deg, rgba($color: $purple, $alpha: 0.25) 0%, rgba($color: $purple-gradient, $alpha: 0.25) 100%);
    }
  }

  &--cell-day.-range-to-.-selected- {
    border: 0px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 50%;
      height: 100%;
      border: 0;
      background: linear-gradient(180deg, rgba($color: $purple, $alpha: 0.25) 0%, rgba($color: $purple-gradient, $alpha: 0.25) 100%);
    }
  }

  &--cell.-selected-.-focus- {
    background: $background-gradient;
  }

  .-selected-.datepicker--cell-day.-other-month-,
  .-selected-.datepicker--cell-year.-other-decade- {
    background: linear-gradient(180deg, rgba($color: $purple, $alpha: 0.5) 0%, rgba($color: $purple-gradient, $alpha: 0.5) 100%);
  }

  .-in-range-.datepicker--cell-day.-other-month-,
  .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: inherit;
    color: inherit;
  }

  &--control {
    margin-top: 5px;
    padding: 0 19px 19px 19px;
    display: flex;
    justify-content: space-between;
  }

  &--control-btn {
    &_hidden {
      opacity: 0;
      overflow: hidden;
      z-index: -1;
    }
  }
}
