@import '@scss/variables';
@import '@scss/mixins';

.input-datepicker {
  display: flex;
  justify-content: space-between;

  @media (max-width: 410px) {
    justify-content: flex-start;
    gap: 10px;
  }

  &__label {
    min-width: 120px;
    position: relative;
    cursor: pointer;
    @include level-h3;

    &_with_filter {
      width: 100%;
    }
  }

  &__date {
    margin-top: 5px;
    display: block;
    width: 150px;
    min-height: 44px;
    background: #FFFFFF;
    border: 1px solid $dark25;
    border-radius: 4px;
    padding: 10px 14px;
    font-size: 1rem;
    color: $dark75;
    transition: border 0.2s ease-in;
    cursor: pointer;

    @media (max-width: 410px) {
      width: 100%;
      padding: 8px;
    }

    &:hover,
    &:focus {
      border: 1px solid $dark50;

      &::placeholder {
        color: $dark75;
      }
    }

    &:focus {
      outline: $focus-color auto 2px;
    }

    &_inline {
      width: 0px;
      height: auto;
      min-height: auto;
      border: none;
      padding: 0;
      margin: 0;

      &:hover,
      &:focus {
        border: none;

        &::placeholder {
          color: transparent;
        }
      }
    }

    &_with_filter {
      width: 100%;

      @media (max-width: 410px) {
        padding: 10px 14px;

        +.input-datepicker__icon {
          right: 10px;
        }
      }

    }

    @include placeholder($placeholderColor: $dark75, $focusColor: $dark75, $fontSizeInRem: 1rem);
  }

  &__icon {
    position: absolute;
    bottom: 8px;
    right: 10px;
    color: $dark50;
    font-size: (24 / 14) + rem;
    cursor: pointer;
    pointer-events: none;
    @include font-material-icons;

    @media (max-width: 410px) {
      right: 4px;
    }

    &_rotated {
      transform: rotate(180deg);
      bottom: 10px;
    }
  }
}

body.using-mouse {
  .input-datepicker__date:focus {
    outline: none;
  }
}
