@import '@scss/variables';
@import '@scss/mixins';

.input-datepicker {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  @media (max-width: 480px) {
    flex-direction: column;
  }

  &__label {
    position: relative;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    line-height: 15 / 12 * 100%;
    text-transform: uppercase;
    color: $dark;

    @media (max-width: 480px) {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &_with_filter {
      width: 100%;
    }
  }

  &__date {
    margin-top: 5px;
    display: block;
    width: 150px;
    min-height: 44px;
    background: #FFFFFF;
    border: 1px solid $dark25;
    border-radius: 4px;
    padding: 10px 14px;
    font-size: 14px;
    color: $dark75;
    transition: border 0.2s ease-in;
    cursor: pointer;

    @media (max-width: 480px) {
      width: 100%;
    }

    &:hover,
    &:focus {
      border: 1px solid $dark50;

      &::placeholder {
        color: $dark75;
      }
    }

    &_with_filter {
      width: 100%;
    }

    @include placeholder($dark75, $dark75, 13.7);
  }

  &__icon {
    position: absolute;
    bottom: 8px;
    right: 10px;
    color: $dark50;
    font-size: 24px;
    cursor: pointer;
    pointer-events: none;
    @include font-material-icons;

    &_position_not-fixed {
      position: relative;
      bottom: auto;
      right: auto;
    }

    &_rotated {
      transform: rotate(180deg);
      bottom: 10px;
    }
  }
}
