@import '@scss/variables';

.heading {
  font-weight: 700;
  color: $dark;

  &_level_h1 {
    font-size: (24 / 14) + rem;
    line-height: (29 / 24);
  }

  &_level_h2 {
    font-size: (19 / 14) + rem;
    line-height: (23 / 19);
  }

  &_level_h3 {
    font-size: (12 / 14) + rem;
    line-height: (15 / 12);
    text-transform: uppercase;
  }
}
