@import '@scss/variables';

@media (min-width: 1200px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 1199px) {
  .hamburger {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &_active {
      transform: rotate(45deg);
      z-index: 1999;
      position: fixed;
      top: 50px;
      left: 280px;

      @media (max-width: 575px) {
        left: auto;
        right: 30px;
      }

      .hamburger__line_position_top {
        stroke-dashoffset: -98px;
      }

      .hamburger__line_position_bottom {
        stroke-dashoffset: -138px;
      }
    }

    &__line {
      fill: none;
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
      stroke: $dark50;
      stroke-width: 4;
      stroke-linecap: round;
      z-index: 99;

      &_position_top {
        stroke-dasharray: 40 139;
      }

      &_position_bottom {
        stroke-dasharray: 40 180;
      }
    }
  }
}

body.using-mouse {
  .hamburger {
    outline: none;
  }
}
