//- components
include ~@comp/button/button.pug

//- 
  В данном миксине используется шрифт Material Icons, необходимо подключить данный шрифт в проект
  const options = { 
    showBlockWithBtn: Boolean,
    showBlockWithLogin: Boolean
  };

mixin header(options = {})
  - const { showBlockWithBtn = false, showBlockWithLogin = false } = options;
    header.header
      .header__block
        .header__container
          .menu-overlay.js-menu-overlay
          .header__wrapper
            a(class="header__logo" href="/metalamp/")
              include ./logo.pug
            nav.header__navigation
              ul.header__menu.js-header__menu
                li.header__menu-link
                  a(href="/mock-address/change-me") О нас
                li.header__menu-link.header__menu-link_with_dropdown.js-header__menu-link_with_dropdown
                  span.header__link-dropdown.js-header__link-dropdown
                    a(href="#") Услуги
                    span.header__link-arrow.js-header__link-arrow expand_more
                  ul.header__submenu.js-header__submenu.header__submenu_hidden
                    li.header__menu-link
                      a(href="/mock-address/change-me") Ссылка1
                    li.header__menu-link
                      a(href="/mock-address/change-me") Ссылка2
                    li.header__menu-link
                      a(href="/mock-address/change-me") Ссылка3
                li.header__menu-link
                  a(href="/mock-address/change-me") Вакансии
                li.header__menu-link
                  a(href="/mock-address/change-me") Новости
                li.header__menu-link.header__menu-link_with_dropdown.js-header__menu-link_with_dropdown
                  span.header__link-dropdown.js-header__link-dropdown
                    a(href="#") Соглашения
                    span.header__link-arrow.js-header__link-arrow expand_more
                  ul.header__submenu.js-header__submenu.header__submenu_hidden
                    li.header__menu-link
                      a(href="/mock-address/change-me") Ссылка1
                    li.header__menu-link
                      a(href="/mock-address/change-me") Ссылка2
                    li.header__menu-link
                      a(href="/mock-address/change-me") Ссылка3
                    li.header__menu-link
                      a(href="/mock-address/change-me") Ссылка4
            include ./hamburger.pug
            if showBlockWithBtn
              .header__btn
                .header__btn-elem
                  +button({
                    theme:"transparent",
                    text:"Войти",
                    isLink: true,
                    href: "sign-in.html"
                  })
                .header__btn-elem
                  +button({
                    text:"зарегистрироваться",
                    isLink: true,
                    href: "registration.html"
                  })
            if showBlockWithLogin
              a(class="header__login" href="/mock-address/change-me") Юлий Цезарь