@import '@scss/variables';
@import '@scss/mixins';

$MAX_WIDTH_ACTIVATED_MOBILE_MENU: 991;

.header {
  &__block {
    min-width: 310px;
    width: 100%;
    min-height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px $dark5;
  }

  &__container {
    width: 95%;
    min-width: 310px;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 5px;
  }

  &__menu-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.75);
    z-index: -1;
    overflow: auto;
    opacity: 0;
    transition: 0.4s opacity;
    visibility: hidden;

    @media (min-width: #{$MAX_WIDTH_ACTIVATED_MOBILE_MENU}px) {
      display: none;
    }

    &_active {
      opacity: 1;
      z-index: 999;
      visibility: visible;
    }
  }

  &__wrapper {
    min-height: 70px;
    display: flex;
    align-items: center;
    color: $dark50;
  }

  &__logo-link {
    margin-right: 15px;
  }

  &__logo {
    @media (max-width: 650px) {
      width: 90px;
    }
  }

  &__navigation {
    margin: 0 0 0 auto;

    @media (max-width: #{$MAX_WIDTH_ACTIVATED_MOBILE_MENU}px) {
      flex: 1 1 auto;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 14px;
    line-height: 121%;

    @media (max-width:#{$MAX_WIDTH_ACTIVATED_MOBILE_MENU}px) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: nowrap;
      position: fixed;
      background-image: $background-gradient;
      transition: 0.6s;
      top: 0;
      left: -100%;
      width: 345px;
      height: 100%;
      padding: 100px 30px 30px;
      z-index: 1999;
    }

    @media (max-width:575px) {
      width: 100%;
    }

    &_active {
      left: 0;
      overflow: auto;
    }
  }

  &__menu-link {
    position: relative;
    margin-right: 21px;
    display: flex;
    align-items: center;

    &:last-child {
      margin-right: 20px;

      @media (max-width:#{$MAX_WIDTH_ACTIVATED_MOBILE_MENU}px) {
        margin-right: 0;
      }
    }

    @media (max-width:#{$MAX_WIDTH_ACTIVATED_MOBILE_MENU}px) {
      margin-right: 0;
      align-items: flex-start;
    }

    .header__link-dropdown {
      display: flex;
      align-items: center;
    }

    .header__link-arrow {
      @include font-material-icons;
      font-size: 24px;
      text-shadow: none;
      color: $dark50;
      padding-top: 1px;
      cursor: pointer;

      @media (max-width:#{$MAX_WIDTH_ACTIVATED_MOBILE_MENU}px) {
        color: $dark75;
        font-weight: 700;
      }
    }
  }

  &__menu-link_active,
  &__link_active {
    text-shadow: 0 0 1px $dark50, 0 0 1px $dark50, 0 0 1px $dark50;
    color: $dark75;
  }

  &__menu-link_with_dropdown {
    @media (max-width:#{$MAX_WIDTH_ACTIVATED_MOBILE_MENU}px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__link {
    color: $dark50;
    transition: color 0.2s ease-in, text-shadow 0.2s ease-in;
    text-decoration: none;

    @media (max-width:#{$MAX_WIDTH_ACTIVATED_MOBILE_MENU}px) {
      margin-right: 0;
      position: relative;
      padding: 10px 0;
      font-weight: 700;
      color: $dark75;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 16px;
    }

    &:hover,
    &:focus {
      text-shadow: 0 0 1px $dark50, 0 0 1px $dark50, 0 0 1px $dark50;
      color: $dark75;

      @media (max-width:#{$MAX_WIDTH_ACTIVATED_MOBILE_MENU}px) {
        text-shadow: none;
        color: $dark75;
      }
    }
  }

  &__submenu {
    background-color: #FFFFFF;
    width: auto;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 30%;
    z-index: 99;
    box-shadow: 0px 10px 20px $dark5;
    border-radius: 5px;
    transition: all 0.3s ease-out;

    @media (max-width:#{$MAX_WIDTH_ACTIVATED_MOBILE_MENU}px) {
      position: relative;
      top: 0;
      left: 0;
      padding: 0;
      background-color: transparent;
      box-shadow: none;
      border-radius: 0px;
      overflow: hidden;
    }

    .header__menu-link {
      padding: 5px;
      margin-right: 0;
      margin-bottom: 10px;
      text-align: center;

      @media (max-width: #{$MAX_WIDTH_ACTIVATED_MOBILE_MENU}px) {
        text-align: left;
        margin-bottom: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .header__link {
        @media (max-width: #{$MAX_WIDTH_ACTIVATED_MOBILE_MENU}px) {
          font-size: 14px;
          line-height: 7px;
        }
      }
    }
  }

  &__submenu_hidden {
    display: none;

    @media (max-width: #{$MAX_WIDTH_ACTIVATED_MOBILE_MENU}px) {
      display: initial;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      z-index: -1;
    }
  }

  &__hamburger {
    cursor: pointer;
    transition: transform 400ms;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    @media (min-width: #{$MAX_WIDTH_ACTIVATED_MOBILE_MENU + 1}px) {
      display: none;
    }

    &_active {
      transform: rotate(45deg);
      z-index: 1999;
      position: fixed;
      top: 50px;
      left: 280px;

      @media (max-width: 575px) {
        left: auto;
        right: 30px;
      }

      .header__hamburger-line_position_top {
        stroke-dashoffset: -98px;
      }

      .header__hamburger-line_position_bottom {
        stroke-dashoffset: -138px;
      }
    }
  }

  &__hamburger-line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: $dark50;
    stroke-width: 4;
    stroke-linecap: round;
    z-index: 99;

    &_position_top {
      stroke-dasharray: 40 139;
    }

    &_position_bottom {
      stroke-dasharray: 40 180;
    }
  }

  &__btn {
    display: flex;
    height: 34px;
  }

  &__btn-elem {
    margin-right: 20px;
    width: 87px;

    @media (max-width: 575px) {
      margin-right: 0;
    }

    &:last-child {
      width: 196px;
      margin-right: 0;

      @media (max-width: 650px) {
        display: none;
      }
    }
  }

  &__login {
    line-height: 30px;
    height: 30px;
    border-left: 1px solid $dark10;
    padding-left: 20px;
    color: $dark50;
    transition: color 0.2s ease-in;
    text-decoration: none;

    @media (max-width: 575px) {
      padding-left: 15px;
    }

    &:hover,
    &:focus {
      color: $dark;
    }
  }
}

body.using-mouse {
  .header__hamburger {
    outline: none;
  }
}
