@import '@scss/variables';

html,
body {
  background: $background-grey;
}

.ui-kit-header {
  &__elem {
    margin-top: 40px;

    &:first-child {
      margin-top: 60px;
    }
  }
}

.ui-kit-footer {
  &__elem {
    margin-top: 40px;
  }
}
