//- components
include ~@comp/header/header.pug
include ~@comp/footer-copyright/footer-copyright.pug

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title UI Kit - Headers & Footers
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="UI Kit - Headers & Footers")
    meta(name="keywords", content="ui-kit")
    link(rel="icon", href="./favicon.png", type="image/png")
  body
    .container
      include ~@comp/ui-header/ui-header.pug
    .ui-kit-header
      .ui-kit-header__elem
        +header({addBtn: true })
      .ui-kit-header__elem
        +header({addLogin: true })
    .ui-kit-footer
      .ui-kit-footer__elem
        include ~@comp/footer/footer.pug
      .ui-kit-footer__elem
        +footerCopyright({mini: true})
      .ui-kit-footer__elem &nbsp;
