@import '@base/base';
@import '@comp/ui-header/ui-header';
@import '@comp/header/header';
@import '@comp/footer/footer';
@import '@comp/footer-copyright/footer-copyright';

html,
body {
  background: $background-grey;
}

.ui-kit-header {
  &__elem {
    margin-top: 40px;

    &:first-child {
      margin-top: 62px;
    }
  }
}

.ui-kit-footer {
  &__elem {
    margin-top: 40px;
  }
}
