@import '@comp/input/input';
@import '@comp/button/button';

.card-input {
  &__wrapper {
    margin-top: 17px;
  }

  &__elem {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__btn {
    margin-top: 20px;
  }

  &__sign-in {
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>span {
      font-size: 14px;
      line-height: 129%;
      color: #000000;
      padding-right: 10px;
    }
  }
}
