@import '@scss/variables';
@import '@scss/mixins';
@import '@comp/like/like';

.feedback {
  &__block {
    display: flex;
    flex-direction: column;
  }

  &__top {
    display: flex;
  }

  &__avatar {
    width: 48px;
    height: 48px;
    border: 2px solid #FFFFFF;
    filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.1));
    border-radius: 32px;
    overflow: hidden;
    flex: 0 0 auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__info {
    color: $dark75;
    display: flex;
    flex-direction: column;
    margin-left: 9px;
    padding-top: 5px;
  }

  &__info-name {
    font-weight: bold;
    margin-bottom: 9px;
  }

  &__main {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  &__btnlike {
    padding-left: 4px;
    padding-top: 1px;
  }

  &__text {
    flex: 0 1 auto;
    padding-left: 13px;
    line-height: 24px;
  }
}
