.simple-rating {
  &__elem {
    background: linear-gradient(180deg, $purple 0%, $purple-gradient 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
  }
}
