//- 
  const options = { 
    value: Number,
    total: Number,
  };
mixin simpleRating(options)
  - let { value = 5, total = 5 } = options;
      .simple-rating
        - for (let i = 0; i < total; i++)
            if (i < value)
              span.simple-rating__elem.material-icons star
            else
              span.simple-rating__elem.material-icons star_border
              