.checkbox {
  &__elem {
    display: flex;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    cursor: pointer;
    display: block;
    max-width: 240px;
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    line-height: 129%;
    color: $dark50;
  }

  &__title_bold {
    font-weight: 700;
    color: $dark75;
    margin-bottom: 6px;
  }

  &__subtitle {
    cursor: pointer;
    display: block;
    font-size: 12px;
    line-height: 14 / 12 * 100%;
    color: $dark50;
    padding-left: 30px;
    max-width: 260px;
  }
}

input.checkbox__field:checked+.checkbox__title:before,
input.checkbox__field:not(:checked)+.checkbox__title:before {
  content: "";
  position: absolute;
  left: 0px;
  top: -1px;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid $dark25;
  border-radius: 4px;
}

input.checkbox__field:checked+.checkbox__title:after {
  content: "";
  position: absolute;
  left: 0px;
  top: -1px;
  width: 20px;
  height: 20px;
  border: 1px solid $purple;
  border-radius: 4px;
  background-image: url('./img/checkbox.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center 3px;
}

input.checkbox__field:focus+.checkbox__title:before {
  outline: $purple auto 2px;
}

body.using-mouse {
  input.checkbox__field:focus+.checkbox__title:before {
    outline: none;
  }
}
