.checkbox {
  &__elem {
    display: flex;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

input.checkbox__field:checked+span,
input.checkbox__field:not(:checked)+span {
  cursor: pointer;
  display: block;
  max-width: 230px;
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  line-height: 129%;
  color: $dark50;
}

input.checkbox__field:checked+span:before,
input.checkbox__field:not(:checked)+span:before {
  content: "";
  position: absolute;
  left: 0px;
  top: -1px;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid $dark25;
  border-radius: 4px;
}

input.checkbox__field:checked+span:after {
  content: "";
  position: absolute;
  left: 0px;
  top: -1px;
  width: 20px;
  height: 20px;
  border: 1px solid $purple;
  border-radius: 4px;
  background-image: url('./img/checkbox.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center 3px;
}

input.checkbox__field:focus+span:before {
  outline: $purple auto 2px;
}

body.using-mouse {
  input.checkbox__field:focus+span:before {
    outline: none;
  }
}
