@import '@scss/variables';
@import '@scss/mixins';

.checkbox {
  &__elem {
    display: flex;
    max-width: 320px;
  }

  &__field {
    &_hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
      clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }

  &__field:checked+&__title:before,
  &__field:not(:checked)+&__title:before {
    content: "";
    position: absolute;
    left: 0px;
    top: -1px;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid $dark25;
    border-radius: 4px;
  }

  &__field:checked+&__title:after {
    content: "";
    position: absolute;
    left: 0px;
    top: -1px;
    width: 20px;
    height: 20px;
    border: 1px solid $purple;
    border-radius: 4px;
    background-image: url('./img/checkbox.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center 3px;
  }

  &__field:focus+&__title:before {
    outline: $purple auto 2px;
  }

  &__title {
    cursor: pointer;
    display: inline-block;
    max-width: 240px;
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    line-height: 129%;
    color: $dark50;

    &_style_bold {
      font-weight: 700;
      color: $dark75;
    }
  }

  &__subtitle {
    margin-top: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    line-height: 14 / 12 * 100%;
    color: $dark50;
    padding-left: 30px;
    max-width: 260px;
  }
}

body.using-mouse {
  input.checkbox__field:focus+.checkbox__title:before {
    outline: none;
  }
}
