//- layout
extends ~@lo/ui-kit/ui-kit

//- components
include ~@comp/color/color.pug

block variables
  - const title = "UI Kit - Colors & Type"
  - const keywords = "ui-kit"

block content
  .colors-and-type
    .colors-and-type__wrapper
      .colors
        .colors__wrapper
          .colors__item
            +color({title:"Dark Shade 100%", subtitle:"#1F2041", color:"dark"})
          .colors__item
            +color({title:"Dark Shade 75%", subtitle:"#1F2041", color:"dark-shade75"})
          .colors__item
            +color({title:"Dark Shade 50%", subtitle:"#1F2041", color:"dark-shade50"})
          .colors__item
            +color({title:"Dark Shade 25%", subtitle:"#1F2041", color:"dark-shade25"})
          .colors__item
            +color({title:"Dark Shade 5%", subtitle:"#1F2041", color:"dark-shade5"})
          .colors__item
            +color({title:"Purple", subtitle:"#BC9CFF", color:"purple"})
          .colors__item
            +color({title:"Green", subtitle:"#6FCF97", color:"green"})
      .type
        .type__wrapper 
          h1.type__elem
            span.type__elem-name H1
            | This one is the sub-section or widget title 
          h2.type__elem
            span.type__elem-name H2
            | Next one is the item title inside widgets
          h3.type__elem
            span.type__elem-name H3
            | This is a label or CTA text
          p.type__elem
            span.type__elem-name Body
            | This is the body text which is used for most of the design, like paragraphs, lists, etc.
