@import '@comp/input/input';
@import '@comp/footer-copyright/footer-copyright';

.footer {
  &__block {
    width: 100%;
    min-height: 372px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px $dark10;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__wrapper {
    padding: 100px 0;
    display: grid;
    grid-template-columns: 22.4% repeat(3, 1fr) 22.4%;
    gap: 0 40px;

    @media (max-width: 1439px) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: fit-content(5%) repeat(1, 1fr);
      gap: 40px 20px;
      padding: 6% 0;
    }

    @media (max-width: 991px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: fit-content(5%) repeat(1, 1fr) fit-content(5%);
      gap: 40px 80px;
    }

  }

  &__column {
    @media (max-width: 1439px) {
      &:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-row-end: 2;
      }
    }

    @media (max-width: 991px) {
      &:nth-child(5) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
      }
    }
  }

  &__menu-link {
    margin-bottom: 21px;
    font-size: 14px;
    line-height: 17px;
    color: $dark50;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: $dark50;
      transition: color 0.2s ease-in, text-shadow 0.2s ease-in;

      &:hover,
      &:focus {
        text-shadow: 0 0 1px $dark50, 0 0 1px $dark50, 0 0 1px $dark50;
        color: $dark75;
      }
    }
  }

  &__block-title {
    margin-top: 4px;
    margin-bottom: 22px;

    &_small-margin {
      margin-bottom: 19px;
    }
  }

  &__descr {
    margin-top: 17px;
    font-size: 14px;
    line-height: 172%;
    color: $dark75;

    @media (max-width: 1439px) {
      &:last-child {
        display: none;
      }
    }

    @media (max-width: 991px) {
      display: none;
    }

    &_no-top-margin {
      margin-top: 0;
    }
  }

  &__sub-block {
    margin-top: 18px;
  }
}
