@import '@comp/input/input';
@import '@comp/footer-copyright/footer-copyright';

.footer {
  &__block {
    width: 100%;
    min-height: 372px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px $dark10;

    @media (max-width: 575px) {
      display: none;
    }
  }

  &__wrapper {
    padding: 100px 0;
    display: grid;
    grid-template-columns: 260px repeat(3, 1fr) 260px;
    grid-gap: 0 40px;

    @media (max-width: 1199px) {
      grid-template-columns: 2fr repeat(3, 1fr) 2fr;
    }

    @media (max-width: 991px) {
      padding: 50px 0;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 40px 40px;
      justify-items: center;
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__column {
    &:nth-child(1) {
      @media (max-width: 991px) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: center;
        padding: 0 10px;
      }

      @media (max-width: 767px) {
        grid-column-start: 1;
        grid-column-end: 2;
      }
    }

    &:nth-child(5) {
      @media (max-width: 991px) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
      }

      @media (max-width: 767px) {
        grid-column-start: 2;
        grid-column-end: 3;
      }
    }
  }

  &__descr {
    margin-top: 17px;
    font-size: 14px;
    line-height: 171%;
    color: $dark75;

    &_no-margin {
      margin-top: 0;
    }
  }

  &__block-title {
    display: block;
    margin-top: 6px;
    margin-bottom: 21px;
    font-weight: 700;
    font-size: 12px;
    line-height: 120%;
    text-transform: uppercase;
    color: $dark;

    &_fix-margin {
      margin-bottom: 18px;
    }
  }

  &__menu-link {
    margin-bottom: 21px;
    font-size: 14px;
    line-height: 17px;
    color: $dark50;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: $dark50;
      transition: color 0.2s ease-in, text-shadow 0.2s ease-in;

      &:hover,
      &:focus {
        text-shadow: 0 0 1px $dark50, 0 0 1px $dark50, 0 0 1px $dark50;
        color: $dark75;
      }
    }
  }

  &__sub-block {
    margin-top: 19px;
  }
}
