@import '@comp/input/input';
@import '@comp/footer-copyright/footer-copyright';

.footer {
  &__block {
    width: 100%;
    min-height: 372px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px $dark10;
  }

  &__wrapper {
    padding: 100px 0;
    display: grid;
    grid-template-columns: 260px repeat(3, 1fr) 260px;
    grid-gap: 0 40px;
  }

  &__descr {
    margin-top: 17px;
    font-size: 14px;
    line-height: 171%;
    color: $dark75;

    &_no-margin {
      margin-top: 0;
    }
  }

  &__block-title {
    display: block;
    margin-top: 6px;
    margin-bottom: 23px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: $dark;

    &_fix-margin {
      margin-bottom: 20px;
    }
  }

  &__menu-link {
    margin-bottom: 21px;
    font-size: 14px;
    line-height: 17px;
    color: $dark50;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: $dark50;
      transition: color 0.2s ease-in, text-shadow 0.2s ease-in;

      &:hover,
      &:focus {
        text-shadow: 0 0 1px $dark50, 0 0 1px $dark50, 0 0 1px $dark50;
        color: $dark75;
      }
    }
  }

  &__sub-block {
    margin-top: 19px;
  }
}
