//- const { counter, active } = options;
mixin likebtn(options)
  - const { counter, active } = options;
      if active
        button.like__btn.like__btn_active(type="button") 
          i.material-icons favorite
          span.like__counter= counter
      else
        button.like__btn(type="button") 
          i.material-icons favorite_border
          span.like__counter= counter