extends ~@lo/page/page

block variables
  - const title = "Toxin - Регистрация аккаунта"
  - const keywords = "регистрация"

block content
  .not-found
    h1.not-found__title 404 - Страница не найдена