//- layout
extends ~@lo/page/page

//- components
include ~@comp/heading/heading

block variables
  - const title = "Toxin - Страница не найдена"
  - const keywords = "404, not found"

block content
  .not-found
    .not-found__title
      +heading({text: "404 - Страница не найдена", level: "h1"}) 