//- layout
extends ~@lo/ui-kit/ui-kit

//- components
include ~@comp/ui-header/ui-header
include ~@comp/card-search/card-search
include ~@comp/card-booking/card-booking
include ~@comp/card-reg/card-reg
include ~@comp/card-input/card-input
include ~@comp/card-room/card-room
include ~@comp/input-datepicker/input-datepicker

block variables
  - const title = "UI Kit - Cards"
  - const keywords = "ui-kit"

block content
  +ui-header("ui-header-logo.svg")
  .cards
    .cards__wrapper
      .cards__column
        .cards__cell
          +card-search({
            datepickerOptions: {
              labelTextFirst:"прибытие",
              labelTextSecond:"выезд",
              attributeName:"card-search-date-range",
            },
            dropdownOptions: {
              labelText:"гости",
              attributeName:"card-search-guests",
              textInInput:"Сколько гостей",
              hasControlBtn: true,
              elements: {
                "Взрослые": 0,
                "Дети": 0,
                "Младенцы": 0,
              },
              data: {
                variantsWordsObj: {
                  гость: ['гость', 'гостя', 'гостей'],
                  младенцы: ['младенец', 'младенца', 'младенцев'],
                },
              },
            },
            submitBtnOptions: {
              theme:"with-arrow",
              text:"подобрать номер",
              btnType:"submit",
            },
          })
        .cards__cell
          +card-reg({
            inputOptions: {
              name: {
                attributeName:"name",
                attributeType:"text",
                placeholder:"Имя",
              },
              surname: {
                attributeName:"surname",
                attributeType:"text",
                placeholder:"Фамилия",
              },
              birthday: {
                labelText:"Дата рождения",
                attributeName:"date",
                attributeType:"text",
                placeholder:"ДД.ММ.ГГГГ",
                addDateMask: true,
              },
              email: {
                labelText:"Данные для входа в сервис",
                attributeName:"email-reg",
                attributeType:"email",
                placeholder:"Email",
              },
              password: {
                attributeName:"password-reg",
                attributeType:"text",
                placeholder:"Пароль",
              }, 
            },
            radioBtnOptions: [
              {
                text:"Мужчина",
                name:"radio-btn",
                isChecked: true,
              },
              {
                text:"Женщина",
                name:"radio-btn",
              },
            ],
            toggleBtnOptions: [
              {
                text:"Получать спецпредложения",
                name:"toggle-subscribe",
              },
            ],
            buttonOptions: {
              submit: {
                theme:"with-arrow",
                text:"перейти к оплате",
                btnType:"submit",
              },
              enter: {
                theme:"transparent",
                text:"Войти",
                isLink: true,
                href: "sign-in.html",
              },
            },
          })
      .cards__column
        .cards__cell
          +card-booking({
            roomNumber: 888,
            roomType: "люкс",
            roomPrice: 9990,
            days: 4,
            discount: 2179,
            servicesText: "Сбор за услуги: скидка",
            servicesInfo: "Сбор за услуги",
            additionalServicesText: "Сбор за дополнительные услуги",
            additionalServices: 300,
            additionalServicesInfo: "Сбор за дополнительные услуги",
            datepickerOptions: {
              labelTextFirst:"прибытие",
              labelTextSecond:"выезд",
              attributeName:"card-booking-date-range",
              data: {
                startDate: "2019-08-19",
                finishDate: "2019-08-23",
              },
            },
            dropdownOptions: {
              labelText:"гости",
              attributeName:"card-booking-guests",
              textInInput:"Сколько гостей",
              hasControlBtn: true,
              elements: {
                "Взрослые": 3,
                "Дети": 0,
                "Младенцы": 0,
              },
              data: {
                variantsWordsObj: {
                  гость: ['гость', 'гостя', 'гостей'],
                  младенцы: ['младенец', 'младенца', 'младенцев'],
                },
              },
            },
            submitBtnOptions: {
              theme:"with-arrow",
              text:"забронировать",
              btnType:"submit",
            },
          })
        .cards__cell
          +card-input({
            inputOptions: {
              email: {
                attributeName:"email-login",
                attributeType:"email",
                placeholder:"Email",
              },
              password: {
                attributeName:"password-login",
                attributeType:"password",
                placeholder:"Пароль",
              },
            },
            buttonOptions: {
              submit: {
                theme:"with-arrow",
                text:"войти",
                btnType:"submit",
              },
              create: {
                theme:"transparent",
                text:"Создать",
                isLink: true,
                href: "registration.html",
              }
            },
          })
      .cards__column
        .cards__cell
          +input-datepicker({
            isInline: true,
            data: {
              startDate: "2019-08-19",
              finishDate: "2019-08-23",
            }
          })
        .cards__cell
          +card-room({
            showArrows: true,
            roomNumber: 888,
            roomType: "люкс",
            roomPrice: 9990,
            ratingValue: 5,
            numberOfReviews: 145,
            sliderImg: [
              "room-1.jpg",
              "room-1.jpg",
              "room-1.jpg",
              "room-1.jpg",
            ],
          })
        .cards__cell
          +card-room({
            roomNumber: 840,
            roomPrice: 9900,
            ratingValue: 4,
            numberOfReviews: 65,
            sliderImg: [
              "room-2.jpg",
              "room-2.jpg",
              "room-2.jpg",
              "room-2.jpg",
            ],
          })
