@import '@scss/variables';

html {
  background: $background-grey;
}

.cards {
  &__wrapper {
    max-width: 1160px;
    margin: 70px auto auto;
    display: grid;
    grid-template-columns: auto auto 320px;
    gap: 40px;

    @media (max-width: 1199px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: normal;
    }

    @media (max-width: 860px) {
      grid-template-columns: auto;
    }
  }

  &__column {
    &:nth-child(1) {
      justify-self: right;

      @media (max-width: 1199px) {
        justify-self: center;
      }
    }

    &:nth-child(3) {
      justify-self: left;

      @media (max-width: 1199px) {
        justify-self: center;
      }
    }
  }

  &__cell {
    margin-bottom: 40px;
  }
}
