@import '@base/base';
@import '@comp/logo/logo';
@import '@comp/card-search/card-search';
@import '@comp/card-reg/card-reg';
@import '@comp/card-booking/card-booking';
@import '@comp/card-input/card-input';
@import '@comp/card-room/card-room';

html {
  background: $background-grey;
}

.cards {
  &__wrapper {
    margin-top: 72px;
    display: grid;
    grid-template-columns: auto 380px auto;
    justify-items: center;
    gap: 40px;

    @media (max-width: 1199px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: normal;
    }

    @media (max-width: 860px) {
      grid-template-columns: auto;
    }
  }

  &__column {
    &:nth-child(1) {
      justify-self: right;

      @media (max-width: 1199px) {
        justify-self: center;
      }
    }

    &:nth-child(3) {
      justify-self: left;

      @media (max-width: 1199px) {
        justify-self: center;
      }
    }
  }

  &__cell {
    margin-bottom: 40px;
  }
}
