//- layout
extends ~@lo/ui-kit/ui-kit

//- components
include ~@comp/card-room/card-room.pug
include ~@comp/card-reg/card-reg

block variables
  - const title = "UI Kit - Cards"
  - const keywords = "ui-kit"

block content
  .cards
    .cards__wrapper
      .cards__column
        .cards__cell
          include ~@comp/card-search/card-search.pug
        .cards__cell
          +card-reg({ textBtn: "перейти к оплате" })
      .cards__column
        .cards__cell
          include ~@comp/card-booking/card-booking.pug
        .cards__cell
          include ~@comp/card-input/card-input.pug
      .cards__column
        .cards__cell
          #date-filter-example
        .cards__cell
          +card-room({ showArrows: true, number: 888, tag: "люкс", price: 9990, ratingValue: 5, numberOfReviews: 145 }, elements = "room1.jpg", "room1.jpg", "room1.jpg", "room1.jpg")
        .cards__cell
          +card-room({ number: 840, price: 9900, ratingValue: 4, numberOfReviews: 65 }, elements = "room2.jpg", "room2.jpg", "room2.jpg", "room2.jpg")
